<head>
  	<title>Cerebro - Sound</title>
	<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link title="timeline-custom-styles" rel="stylesheet" href="stylesheets/style.css">
</head>

<div class="cover-container">
	<div class="cover-center">
		<div class="cover-logo-cont">
			<img src="images/logo_cover.svg">
		</div>
		<div class="cover-text">
			<p class="cover-body">Dinámicas, ritmos y texturas de las controversias en Calama</p>
		</div>
		<div class="cover-arrow">
			<a href="/plus">
				<img src="images/entrar.svg" onMouseOver=src="images/entrar_hover.svg" onMouseOut=src="images/entrar.svg">
			</a>
		</div>
	</div>
</div>
