<head>
  <title>Cerebro - Sound</title>
</head>

<link href="stylesheets/style.css" rel="stylesheet" type="text/css">
<link href="stylesheets/jquery.qtip.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="stylesheets/jquery-ui.css">

<!-- <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script> -->
<script src="javascripts/vimeo.js"></script>
<script src="javascripts/d3-polygon.min.js"></script>
<script src="javascripts/jquery-1.10.2.min.js"></script>
<script src="javascripts/jquery-ui.js"></script>
<script src="javascripts/jquery.qtip.min.js"></script>
<script src="javascripts/wave.js"></script>

<!-- Audio Introducción -->
<audio class="audio-interval" id="audio-intro" loop autoplay>
  <source src="audio/intro.mp3" type="audio/mpeg">
</audio>

<!-- Audio Ruido -->
<audio class="audio-interval" id="audio-ruido" loop autoplay>
  <source src="audio/ruido.mp3" type="audio/mpeg">
</audio>

<!-- Audio Atención -->
<audio class="audio-interval" id="audio-atencion" loop autoplay >
  <source src="audio/atencion.mp3" type="audio/mpeg">
</audio>

<!-- Click Atención -->
<audio class="audio-click" id="audio-click-a" >
  <source src="audio/click_atencion.aif" type="audio/aif">
</audio>

<!-- Click Ruido -->
<audio class="audio-click" id="audio-click-r" >
  <source src="audio/click_ruido.aif" type="audio/aif">
</audio>

<!-- About Page -->
<div class="about-main-container hidden">
<img id="about-panel-close" src="images/pregunta.svg">
  <div class="about-inner-container">
    
    <div class="about-topnav">
      <div class="about-title-container">
        <p>HISTORIAS POR <b>DEFAULT</b></p>
      </div>
    </div>

    <div class="about-bottom">
      <div class="about-left">

        <p class="about-content-p content-p-init">Frente a la necesidad de dar a conocer lo que está sucediendo actualmente en los estudios de neurociencia, nace <b>Visualizando las dinámicas intrínsecas del cerebro</b>, un proyecto colaborativo entre diseño y neurociencia. Durante el 2016 ha estado desarrollado una obra interactiva e inmersiva que permita conocer la red neuronal principal de estos estados. Con el fin de generar conciencia sobre estos estados y comprender la relevancia que tiene el estudio orientado al descanso, se diseñó una versión preliminar de la obra en formato web. <b>Historias por default</b> nace con el objetivo de testear la narrativa general y la comprensión de los conceptos que aquí se presentan. Todos los datos recolectados servirán para realizar el diseño final de la obra a presentarse en el Museo de Arte Contemporáneo de Santiago, Chile entre septiembre y noviembre de 2017, te esperamos!</p>
        
        <div class="form-left-final hidden">
          <p class="about-content-p about-content-p-final">Esta plataforma es el primer prototipo de un proyecto colaborativo entre neurociencia y diseño, acogido por la Escuela de Diseño y la Facultad de Medicina de la Pontificia Universidad Católica de Chile. Este, tiene por objetivo desarrollar una obra interactiva para la Sala Anilla del Museo de Arte Contemporáneo (MAC, Parque Forestal), a inaugurarse en septiembre de 2017. Las respuestas que contestaste junto al formulario a continuación, servirán para diseñar la obra futura. Te agradecemos tu participación.</p><br>
          <div class="form-about-left-fix">
            <div class="form-inner">
              <div class="form-left">
                <div class="left-age">
                  <span>Edad</span><br>
                  <input type="radio" name="age" value="0" checked> 14-20<br>
                  <input type="radio" name="age" value="1"> 21-27<br>
                  <input type="radio" name="age" value="2"> 28-34<br>
                  <input type="radio" name="age" value="3"> 35-42<br>
                  <input type="radio" name="age" value="4"> 43 o más<br>
                </div>
                <div class="left-country">
                  <span>País</span><br>
                  <select id="country-select" name="country">
                    <option value="AF">Afganistán</option>
                    <option value="AL">Albania</option>
                    <option value="DE">Alemania</option>
                    <option value="AD">Andorra</option>
                    <option value="AO">Angola</option>
                    <option value="AI">Anguilla</option>
                    <option value="AQ">Antártida</option>
                    <option value="AG">Antigua y Barbuda</option>
                    <option value="AN">Antillas Holandesas</option>
                    <option value="SA">Arabia Saudí</option>
                    <option value="DZ">Argelia</option>
                    <option value="AR">Argentina</option>
                    <option value="AM">Armenia</option>
                    <option value="AW">Aruba</option>
                    <option value="AU">Australia</option>
                    <option value="AT">Austria</option>
                    <option value="AZ">Azerbaiyán</option>
                    <option value="BS">Bahamas</option>
                    <option value="BH">Bahrein</option>
                    <option value="BD">Bangladesh</option>
                    <option value="BB">Barbados</option>
                    <option value="BE">Bélgica</option>
                    <option value="BZ">Belice</option>
                    <option value="BJ">Benin</option>
                    <option value="BM">Bermudas</option>
                    <option value="BY">Bielorrusia</option>
                    <option value="MM">Birmania</option>
                    <option value="BO">Bolivia</option>
                    <option value="BA">Bosnia y Herzegovina</option>
                    <option value="BW">Botswana</option>
                    <option value="BR">Brasil</option>
                    <option value="BN">Brunei</option>
                    <option value="BG">Bulgaria</option>
                    <option value="BF">Burkina Faso</option>
                    <option value="BI">Burundi</option>
                    <option value="BT">Bután</option>
                    <option value="CV">Cabo Verde</option>
                    <option value="KH">Camboya</option>
                    <option value="CM">Camerún</option>
                    <option value="CA">Canadá</option>
                    <option value="TD">Chad</option>
                    <option value="CL" selected>Chile</option>
                    <option value="CN">China</option>
                    <option value="CY">Chipre</option>
                    <option value="VA">Ciudad del Vaticano (Santa Sede)</option>
                    <option value="CO">Colombia</option>
                    <option value="KM">Comores</option>
                    <option value="CG">Congo</option>
                    <option value="CD">Congo, República Democrática del</option>
                    <option value="KR">Corea</option>
                    <option value="KP">Corea del Norte</option>
                    <option value="CI">Costa de Marfíl</option>
                    <option value="CR">Costa Rica</option>
                    <option value="HR">Croacia (Hrvatska)</option>
                    <option value="CU">Cuba</option>
                    <option value="DK">Dinamarca</option>
                    <option value="DJ">Djibouti</option>
                    <option value="DM">Dominica</option>
                    <option value="EC">Ecuador</option>
                    <option value="EG">Egipto</option>
                    <option value="SV">El Salvador</option>
                    <option value="AE">Emiratos Árabes Unidos</option>
                    <option value="ER">Eritrea</option>
                    <option value="SI">Eslovenia</option>
                    <option value="ES">España</option>
                    <option value="US">Estados Unidos</option>
                    <option value="EE">Estonia</option>
                    <option value="ET">Etiopía</option>
                    <option value="FJ">Fiji</option>
                    <option value="PH">Filipinas</option>
                    <option value="FI">Finlandia</option>
                    <option value="FR">Francia</option>
                    <option value="GA">Gabón</option>
                    <option value="GM">Gambia</option>
                    <option value="GE">Georgia</option>
                    <option value="GH">Ghana</option>
                    <option value="GI">Gibraltar</option>
                    <option value="GD">Granada</option>
                    <option value="GR">Grecia</option>
                    <option value="GL">Groenlandia</option>
                    <option value="GP">Guadalupe</option>
                    <option value="GU">Guam</option>
                    <option value="GT">Guatemala</option>
                    <option value="GY">Guayana</option>
                    <option value="GF">Guayana Francesa</option>
                    <option value="GN">Guinea</option>
                    <option value="GQ">Guinea Ecuatorial</option>
                    <option value="GW">Guinea-Bissau</option>
                    <option value="HT">Haití</option>
                    <option value="HN">Honduras</option>
                    <option value="HU">Hungría</option>
                    <option value="IN">India</option>
                    <option value="ID">Indonesia</option>
                    <option value="IQ">Irak</option>
                    <option value="IR">Irán</option>
                    <option value="IE">Irlanda</option>
                    <option value="BV">Isla Bouvet</option>
                    <option value="CX">Isla de Christmas</option>
                    <option value="IS">Islandia</option>
                    <option value="KY">Islas Caimán</option>
                    <option value="CK">Islas Cook</option>
                    <option value="CC">Islas de Cocos o Keeling</option>
                    <option value="FO">Islas Faroe</option>
                    <option value="HM">Islas Heard y McDonald</option>
                    <option value="FK">Islas Malvinas</option>
                    <option value="MP">Islas Marianas del Norte</option>
                    <option value="MH">Islas Marshall</option>
                    <option value="UM">Islas menores de Estados Unidos</option>
                    <option value="PW">Islas Palau</option>
                    <option value="SB">Islas Salomón</option>
                    <option value="SJ">Islas Svalbard y Jan Mayen</option>
                    <option value="TK">Islas Tokelau</option>
                    <option value="TC">Islas Turks y Caicos</option>
                    <option value="VI">Islas Vírgenes (EE.UU.)</option>
                    <option value="VG">Islas Vírgenes (Reino Unido)</option>
                    <option value="WF">Islas Wallis y Futuna</option>
                    <option value="IL">Israel</option>
                    <option value="IT">Italia</option>
                    <option value="JM">Jamaica</option>
                    <option value="JP">Japón</option>
                    <option value="JO">Jordania</option>
                    <option value="KZ">Kazajistán</option>
                    <option value="KE">Kenia</option>
                    <option value="KG">Kirguizistán</option>
                    <option value="KI">Kiribati</option>
                    <option value="KW">Kuwait</option>
                    <option value="LA">Laos</option>
                    <option value="LS">Lesotho</option>
                    <option value="LV">Letonia</option>
                    <option value="LB">Líbano</option>
                    <option value="LR">Liberia</option>
                    <option value="LY">Libia</option>
                    <option value="LI">Liechtenstein</option>
                    <option value="LT">Lituania</option>
                    <option value="LU">Luxemburgo</option>
                    <option value="MK">Macedonia, Ex-República Yugoslava de</option>
                    <option value="MG">Madagascar</option>
                    <option value="MY">Malasia</option>
                    <option value="MW">Malawi</option>
                    <option value="MV">Maldivas</option>
                    <option value="ML">Malí</option>
                    <option value="MT">Malta</option>
                    <option value="MA">Marruecos</option>
                    <option value="MQ">Martinica</option>
                    <option value="MU">Mauricio</option>
                    <option value="MR">Mauritania</option>
                    <option value="YT">Mayotte</option>
                    <option value="MX">México</option>
                    <option value="FM">Micronesia</option>
                    <option value="MD">Moldavia</option>
                    <option value="MC">Mónaco</option>
                    <option value="MN">Mongolia</option>
                    <option value="MS">Montserrat</option>
                    <option value="MZ">Mozambique</option>
                    <option value="NA">Namibia</option>
                    <option value="NR">Nauru</option>
                    <option value="NP">Nepal</option>
                    <option value="NI">Nicaragua</option>
                    <option value="NE">Níger</option>
                    <option value="NG">Nigeria</option>
                    <option value="NU">Niue</option>
                    <option value="NF">Norfolk</option>
                    <option value="NO">Noruega</option>
                    <option value="NC">Nueva Caledonia</option>
                    <option value="NZ">Nueva Zelanda</option>
                    <option value="OM">Omán</option>
                    <option value="NL">Países Bajos</option>
                    <option value="PA">Panamá</option>
                    <option value="PG">Papúa Nueva Guinea</option>
                    <option value="PK">Paquistán</option>
                    <option value="PY">Paraguay</option>
                    <option value="PE">Perú</option>
                    <option value="PN">Pitcairn</option>
                    <option value="PF">Polinesia Francesa</option>
                    <option value="PL">Polonia</option>
                    <option value="PT">Portugal</option>
                    <option value="PR">Puerto Rico</option>
                    <option value="QA">Qatar</option>
                    <option value="UK">Reino Unido</option>
                    <option value="CF">República Centroafricana</option>
                    <option value="CZ">República Checa</option>
                    <option value="ZA">República de Sudáfrica</option>
                    <option value="DO">República Dominicana</option>
                    <option value="SK">República Eslovaca</option>
                    <option value="RE">Reunión</option>
                    <option value="RW">Ruanda</option>
                    <option value="RO">Rumania</option>
                    <option value="RU">Rusia</option>
                    <option value="EH">Sahara Occidental</option>
                    <option value="KN">Saint Kitts y Nevis</option>
                    <option value="WS">Samoa</option>
                    <option value="AS">Samoa Americana</option>
                    <option value="SM">San Marino</option>
                    <option value="VC">San Vicente y Granadinas</option>
                    <option value="SH">Santa Helena</option>
                    <option value="LC">Santa Lucía</option>
                    <option value="ST">Santo Tomé y Príncipe</option>
                    <option value="SN">Senegal</option>
                    <option value="SC">Seychelles</option>
                    <option value="SL">Sierra Leona</option>
                    <option value="SG">Singapur</option>
                    <option value="SY">Siria</option>
                    <option value="SO">Somalia</option>
                    <option value="LK">Sri Lanka</option>
                    <option value="PM">St. Pierre y Miquelon</option>
                    <option value="SZ">Suazilandia</option>
                    <option value="SD">Sudán</option>
                    <option value="SE">Suecia</option>
                    <option value="CH">Suiza</option>
                    <option value="SR">Surinam</option>
                    <option value="TH">Tailandia</option>
                    <option value="TW">Taiwán</option>
                    <option value="TZ">Tanzania</option>
                    <option value="TJ">Tayikistán</option>
                    <option value="TF">Territorios Franceses del Sur</option>
                    <option value="TP">Timor Oriental</option>
                    <option value="TG">Togo</option>
                    <option value="TO">Tonga</option>
                    <option value="TT">Trinidad y Tobago</option>
                    <option value="TN">Túnez</option>
                    <option value="TM">Turkmenistán</option>
                    <option value="TR">Turquía</option>
                    <option value="TV">Tuvalu</option>
                    <option value="UA">Ucrania</option>
                    <option value="UG">Uganda</option>
                    <option value="UY">Uruguay</option>
                    <option value="UZ">Uzbekistán</option>
                    <option value="VU">Vanuatu</option>
                    <option value="VE">Venezuela</option>
                    <option value="VN">Vietnam</option>
                    <option value="YE">Yemen</option>
                    <option value="YU">Yugoslavia</option>
                    <option value="ZM">Zambia</option>
                    <option value="ZW">Zimbawe</option>
                  </select>
                  <br><br>
                  <span>Ciudad</span><br>
                  <input type="text" name="city" id="city-input"/>
                </div>
              </div>
              
              <div class="form-right">
                <span>Género</span><br>
                <input type="radio" name="gender" value="M" checked>Masculino<br>
                <input type="radio" name="gender" value="F"> Femenino<br>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="about-right">

        <div class="credits-container">
          <p class="about-content-t">CRÉDITOS</p>
          <div class="about-credits">
            <ul class="credits-list">
              <li class="credits-item"><p class="credits-item-t">Diseño y realización</p><p class="credits-item-c">Karina Hyland</p></li>
              <li class="credits-item"><p class="credits-item-t">Asesoría neurociencia</p><p class="credits-item-c">Tomás Ossandón</p></li>
              <li class="credits-item"><p class="credits-item-t">Programación web</p><p class="credits-item-c">Cristhian López</p></li>
              <li class="credits-item"><p class="credits-item-t right">Consultoría</p><p class="credits-item-c right">Manuela Garretón</p></li>
              <li class="credits-item"><p class="credits-item-t right">Diseño sonoro</p><p class="credits-item-c right">Pablo Garretón</p></li>
              <li class="credits-item"><p class="credits-item-t right">Locución</p><p class="credits-item-c right">Francisca Huber</p></li>
            </ul>
          </div>
          <div class="logo-uc"><img src="images/logo.svg"></div>
        </div>
        
        <div class="form-right-final hidden">
          <span>¿Podrías explicarle a alguien qué es la red neuronal por defecto?</span><br>
          <input type="radio" name="explain" value="1" checked> Si<br>
          <input type="radio" name="explain" value="0"> No<br><br>

          <span>¿Cómo se manifiesta en ti la DMN? Puedes marcar más de una.</span><br>
          <input type="radio" name="manifest" value="0" checked> Voces<br>
          <input type="radio" name="manifest" value="1"> Imágenes<br>
          <input type="radio" name="manifest" value="2"> Sonidos<br>
          <input type="radio" name="manifest" value="3"> Emociones<br>
          <input type="radio" name="manifest" value="4"> Personas<br>
          <input type="radio" name="manifest" value="5"> Conceptos<br><br><br><br>

          <span>¿Tienes alguna pregunta adicional? Puedes escribirla en el siguiente recuadro:</span><br>
          <textarea class="about-textarea" name="comment" rows="6" cols="50"></textarea><br><br>

          <div class="about-email">
            <input type="text" name="email" id="input-email" placeholder="nombre@email.com" />
            <button class="btn-send">Enviar</button>
            <p class="about-flash" style="display:none">Su comentario ha sido enviado</p>
            <p class="about-wrong" style="display:none">Debe ingresar un correo válido</p>
          </div>
        </div>

      </div>
    </div>
  
  </div>
</div>
<!-- Fin About Page -->

<!-- First Mask -->
<div id="first-mask" class="hidden"></div>

<!-- Waves Red -->
<div class="wave-inner-container">
  <!-- <div id="siri-container-1" class="wave-container"></div>
  <div id="siri-container-2" class="wave-container"></div>
  <div id="siri-container-3" class="wave-container"></div>
  <div id="siri-container-4" class="wave-container"></div>
  <div id="siri-container-5" class="wave-container"></div>
  <div id="siri-container-6" class="wave-container"></div>
  <div id="siri-container-7" class="wave-container"></div> -->
  <video loop muted autoplay id="waves1" class="fullscreen-bg-video">
      <source src="videos/waves1.webm" type="video/webm">
  </video>
  <video loop muted autoplay id="waves2" class="fullscreen-bg-video hidden">
      <source src="videos/waves2.webm" type="video/webm">
  </video>
</div>
<div class="canvas-mask"></div>
<div class="canvas-mask-net hidden"></div>


<!-- Elementos de Introducción -->

<!-- Elemento Intro 1 -->
<div class="main-cover-container hidden" id="cover-1">
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">Desde el año 1900, se pensaba que cuando el</p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">cerebro no estaba siendo estimulado o realizando</p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">alguna tarea, entraba en estado de reposo.</p>
    </div>
  </div>
</div>

<!-- Elemento Intro 2 -->
<div class="main-cover-container hidden" id="cover-2">
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">Se pensaba que sin estímulos,</p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">la actividad neuronal no correspondía a</p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">ningún proceso cognitivo relevante.</p>
    </div>
  </div>
</div>

<!-- Elemento Intro 3 -->
<div class="main-cover-container hidden" id="cover-3">
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">En el año 2001 se descubrió que el cerebro no solo</p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">está trabajando cuando realizamos una tarea,</p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">sino que toda la actividad previa y posterior a un estímulo,</p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">consume mucha energía y ocupa gran parte del día.</p>
    </div>
  </div>
</div>

<!-- Elemento Intro 4 -->
<div class="main-cover-container hidden" id="cover-4">
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">El cerebro se cuenta historias constantemente, y lo hace por default.</p>
    </div>
  </div>
</div>

<!-- Elemento Home -->
<div class="main-cover-container hidden" id="cover-home">
  <div class="cover-container">
    <div class="title-container">
      <p class="cover-title-b">HISTORIAS POR <b>DEFAULT</b></p>
    </div>
  </div>
  <div class="cover-container">
    <div class="title-container">
      <p class="cover-title-s">Una experiencia interactiva sobre la red neuronal por defecto</p>
    </div>
  </div>

  <div class="cover-container cover-msg">
    <div class="cover-next-msg">
      <p class="cover-next-s">Antes de comenzar, es altamente recomendable que utilices audífonos.</p>
      <div id="cover-btn-init" class="cover-inline-img"><img src="images/flecha2.svg"></div>
    </div>
  </div>
</div>

<!-- Fin Elementos de Introducción -->

<!-- Elementos de Conclusión -->

<!-- Elemento Final 1 -->
<div class="main-cover-container hidden" id="final-1">
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">En el 2001, el neurocientífico Marcus Raichle</p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">descubrió el conjunto de zonas que se activan</p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">durante la divagación mental como una red neuronal</p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">distinta de otras, a la cual se le otorgó</p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">el nombre de RED NEURONAL POR DEFECTO</p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">o en inglés: DEFAULT MODE NETWORK (DMN)</p>
    </div>
  </div>
</div>

<!-- Elemento Final 2 -->
<div class="main-cover-container hidden" id="final-2">
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">El descubrimiento de esta red cambió</p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">nuestra noción de que el cerebro solamente</p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">está activo cuando realizamos una tarea.</p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">Hoy sabemos que el cerebro jamás está en reposo</p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">y que los momentos en los que no existen metas</p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i">claras son los de mayor lucidez y creatividad.</p>
    </div>
  </div>
  <div class="cover-container cover-msg btns-container">
    <div class="cover-next-msg">
      <div class="cover-inline-img final-inline"><img id="arrow-inv" src="images/flecha2.svg"><div id="back-btn" class="final-btn"><p>Volver</p></div></div>
      <div class="cover-inline-img final-inline"><div id="finish-btn" class="final-btn"><p>Finalizar</p></div><img src="images/flecha2.svg"></div>
    </div>
  </div>
</div>

<!-- Fin Elementos de Conclusión -->


<!-- Modal Video -->
<div class="video-modal">
  <img id="video-modal-close" src="images/pregunta.svg">
  <iframe id="vimeo-player" src="https://player.vimeo.com/video/198436388?color=00ff98&api=1&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<!-- Fin Modal Video -->


<div id="main-container">

  <!-- About -->
  <div class="over-content about-container hidden">
    <div class="over-content about" id="about-container" style="left:68px;top:32px;"><img class="about-img" src="images/about.svg"></div>
    <div class="over-content about" id="about-info-container" style="left:114px;top:72px;"><img class="about-info" src="images/info.svg"></div>
    <div class="over-content about" id="about-text-container" style="left:115px;top:47px;"><p class="about-title hidden">SOBRE EL PROYECTO</p></div> 
  </div>
  <!-- Fin About -->

  <div class="over-content info hidden" style="left:107px;top:68px;">
    <div class="info-container">
      <p class="info-content">Cuando el cerebro no está recibiendo ningún estímulo externo, se desactivan todas las áreas asociadas a la atención y se encienden una serie de regiones asociadas a los proceso internos de la mente.<br><br>Contradictorio a lo que se creía anteriormente, los momentos de mayor actividad metabólica ocurren en estados de reposo y solo se ocupa un pequeño porcentaje en la realización de tareas, sin importar la dificultad de éstas.<br><br>El descubrimiento de toda la actividad asociada al reposo, impulsó un nuevo paradigma para la neurociencia la cual se centra en estudiar a los individuos según su actividad más interna, profunda y personal.</p>
      <div class="info-close"><span>x</span></div>
      <div class="info-border"></div>
    </div>
  </div>


  <!-- Puntos -->
  <div class="points-mask"></div>


    <!-- Preguntas -->
    <div class="over-content question point-elem" id="q1-l25t47" style="left:25%;top:47%;"><img id="img-q1" class="question-img" src="images/pregunta.svg"></div>
    <div class="over-content question point-elem" id="q2-l55t60" style="left:55%;top:60%;"><img id="img-q2" class="question-img" src="images/pregunta.svg"></div>
    <div class="over-content question point-elem" id="q3-l81t20" style="left:81%;top:20%;"><img id="img-q3" class="question-img" src="images/pregunta.svg"></div>
    <!-- Fin Preguntas -->


    <!-- Respuestas -->
    <div class="over-content answer point-elem" id="q1a1-l67t27" style="left:67%;top:27%;"><img id="img-q1a1" class="answer-img" src="images/respuesta.svg"></div>
    <div class="over-content answer point-elem" id="q1a2-l45t90" style="left:45%;top:90%;"><img id="img-q1a2" class="answer-img" src="images/respuesta.svg"></div>
    <div class="over-content answer point-elem" id="q2a1-l25t80" style="left:25%;top:80%;"><img id="img-q2a1" class="answer-img" src="images/respuesta.svg"></div>
    <div class="over-content answer point-elem" id="q2a2-l42t50" style="left:42%;top:50%;"><img id="img-q2a2" class="answer-img" src="images/respuesta.svg"></div>
    <div class="over-content answer point-elem" id="q2a3-l41t10" style="left:41%;top:10%;"><img id="img-q2a3" class="answer-img" src="images/respuesta.svg"></div>
    <div class="over-content answer point-elem" id="q3a1-l89t51" style="left:89%;top:51%;"><img id="img-q3a1" class="answer-img" src="images/respuesta.svg"></div>
    <div class="over-content answer point-elem" id="q3a2-l67t80" style="left:67%;top:80%;"><img id="img-q3a2" class="answer-img" src="images/respuesta.svg"></div>
    <!-- Fin Respuestas -->


    <!-- Puntos Extra -->

    <!-- Extra Pregunta 1 -->
    <div class="over-content extra point-elem" id="q1a1e1-l32t28" style="left:32%;top:28%;"><img id="img-q1a1e1" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="q1a1e2-l50t21" style="left:50%;top:21%;"><img id="img-q1a1e2" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="q1a2e1-l34t75" style="left:34%;top:75%;"><img id="img-q1a2e1" class="extra-img" src="images/extra.svg"></div>

    <!-- Extra Pregunta 2 -->
    <div class="over-content extra point-elem" id="q2a1e1-l50t75" style="left:50%;top:75%;"><img id="img-q2a1e1" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="q2a3e1-l50t40" style="left:50%;top:40%;"><img id="img-q2a3e1" class="extra-img" src="images/extra.svg"></div>
    <!-- Q2A3E2 OK -->

    <!-- Extra Pregunta 3 -->
    <div class="over-content extra point-elem" id="q3a2e1-l76t40" style="left:76%;top:40%;"><img id="img-q3a2e1" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="q3a2e2-l71t59" style="left:71%;top:59%;"><img id="img-q3a2e2" class="extra-img" src="images/extra.svg"></div>

    <!-- Extras Individuales -->
    <div class="over-content extra point-elem" id="e1-l23t21" style="left:23%;top:21%;"><img id="img-e1" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e2-l15t40" style="left:15%;top:40%;"><img id="img-e2" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e3-l13t65" style="left:13%;top:65%;"><img id="img-e3" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e4-l23t65" style="left:23%;top:65%;"><img id="img-e4" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e5-l16t85" style="left:16%;top:85%;"><img id="img-e5" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e6-l30t91" style="left:30%;top:91%;"><img id="img-e6" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e7-l40t96" style="left:40%;top:96%;"><img id="img-e7" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e8-l65t7" style="left:65%;top:7%;"><img id="img-e8" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e9-l61t90" style="left:61%;top:90%;"><img id="img-e9" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e10-l75t95" style="left:75%;top:95%;"><img id="img-e10" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e11-l82t78" style="left:82%;top:78%;"><img id="img-e11" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e12-l85t85" style="left:85%;top:85%;"><img id="img-e12" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e13-l88t75" style="left:88%;top:75%;"><img id="img-e13" class="extra-img" src="images/extra.svg"></div>

    <!-- Fin Puntos Extra -->



  <!-- Fin Puntos -->


  <!-- Tooltips -->
    
    <!-- Pregunta 1 -->
    <div class="tt-q1-container tt-main-container hidden">
      <div class="over-content tooltip arrowbox-left tt-question" id="tt-q1" style="left:32%;top:41%;">
        <p class="tt-content">Hay dos principales momentos en los que estamos donde el cerebro entra en estado de reposo.</p>
        <p class="tt-title">¿En cuál de estas dos situaciones te encuentras más a menudo?</p>
      </div>
      
      <div class="over-content tooltip tt-answer hidden" video-id="198436388" id="tt-q1a1" style="left:69%;top:30%;">
        <p class="tt-title">A. No realizando ninguna actividad</p>
        <p class="tt-content">(contemplación, soñando despierto)</p>
      </div>

      <div class="over-content tooltip tt-answer hidden" video-id="198436637" id="tt-q1a2" style="left:47%;top:82%;">
        <p class="tt-title">B. Realizando alguna actividad mecánica</p>
        <p class="tt-content">(lavarse los dientes, preparar café, colorear, caminar)</p>
      </div>
    </div>
    <!-- Fin Pregunta 1 -->

    <!-- Pregunta 2 -->
    <div class="tt-q2-container tt-main-container hidden">
      <div class="over-content tooltip arrowbox-left tt-question" id="tt-q2" style="left:62%;top:54%;">
        <p class="tt-content">Sabemos que es imposible volver al pasado o ir al futuro. Sin embargo, la mente tiene la capacidad de viajar en el tiempo.</p>
        <p class="tt-title">¿Hacia qué tiempos sueles ir?</p>
      </div>
      
      <div class="over-content tooltip tt-answer hidden" video-id="198436888" id="tt-q2a1" style="left:27%;top:83%;">
        <p class="tt-content">A. Pasado</p>
      </div>

      <div class="over-content tooltip tt-answer hidden" video-id="198437182" id="tt-q2a2" style="left:38%;top:46%;">
        <p class="tt-content">B. Futuro</p>
      </div>

      <div class="over-content tooltip tt-answer hidden" video-id="198439697" id="tt-q2a3" style="left:33%;top:13%;">
        <p class="tt-content">C. Ninguno en particular</p>
      </div>
    </div>
    <!-- Fin Pregunta 2 -->

    <!-- Pregunta 3 -->
    <div class="tt-q3-container tt-main-container hidden">
      <div class="over-content tooltip arrowbox-right tt-question" id="tt-q3" style="left:60%;top:14%;">
        <p class="tt-content">La divagación mental puede generar distintos efectos en las personas.</p>
        <p class="tt-title">¿Qué consecuencias crees que ha tenido para tí estar en estados de reposo?</p>
      </div>
      
      <div class="over-content tooltip tt-answer hidden" video-id="198441387" id="tt-q3a1" style="left:85%;top:54%;">
        <p class="tt-content">A. Positivos</p>
      </div>

      <div class="over-content tooltip tt-answer hidden" video-id="198473361" id="tt-q3a2" style="left:69%;top:83%;">
        <p class="tt-content">B. Negativos</p>
      </div>
    </div>
    <!-- Fin Pregunta 3 -->
    

  <!-- Fin Tooltips -->

  <!-- Líneas -->
  <div class="svg-container">
    <svg><!-- Se crean las líneas de forma dinámica en init.js --></svg>
  </div>
  <!-- Fin Líneas -->

</div>


<script src="javascripts/init.js"></script>