<head>
  <title>Cerebro - Sound</title>
</head>

<link href='https://fonts.googleapis.com/css?family=Alegreya:300,400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<link href="stylesheets/style.css" rel="stylesheet" type="text/css">
<link href="stylesheets/jquery.qtip.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script> -->
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
<script src="javascripts/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="javascripts/jquery.qtip.min.js"></script>
<script src="javascripts/wave.js"></script>

<audio loop>
  <source src="audio/rain.mp3" type="audio/mpeg">
</audio>

<div id="slider-vertical" style="height:219px;"></div>

<div id="siri-container-1" class="wave-container hidden"></div>
<div id="siri-container-2" class="wave-container hidden"></div>
<div id="siri-container-3" class="wave-container hidden"></div>
<div id="siri-container-4" class="wave-container hidden"></div>
<div id="siri-container-5" class="wave-container"></div>
<div id="siri-container-6" class="wave-container hidden"></div>
<div id="siri-container-7" class="wave-container hidden"></div>

<div class="cover-container">
  <div class="title-container">
    <p class="cover-title-b">HISTORIAS POR DEFAULT</p>
    <p class="cover-title-s">Una experiencia interactiva sobre la red neuronal por defecto</p>
  </div>
  <div class="cover-legend">
    <div class="cover-text">
      <p>Es altamente recomendable que utilices audífonos.</p>
      <p>Para comenzar, debes subir el volumen a tu derecha.</p>
    </div>
    <div class="cover-img"><img src="images/audifonos.svg"></div>
  </div>
</div>

<!-- Modal Video -->
<div class="video-modal">
  <iframe id="vimeo-player" src="https://player.vimeo.com/video/195433452?color=00ff98&api=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<!-- Fin Modal Video -->

<div id="main-container">
  <!-- Volumen -->
  <div class="over-content volume" id="volume-container" style="right:-9%;top:7%;"><img class="volume-img" src="images/volumen.svg"></div>
  <!-- Fin Volumen -->

  <!-- About -->
  <div class="over-content about-container hidden">
    <div class="over-content about" id="about-container" style="left:60px;top:40px;"><img class="about-img" src="images/about.svg"></div>
    <div class="over-content about" id="about-text-container" style="left:107px;top:53px;"><p class="about-title">SOBRE EL PROYECTO</p></div> 
  </div>
  <!-- Fin About -->


  <!-- Puntos -->

  <div class="points-layer hidden">

    <!-- Preguntas -->
    <div class="over-content question" id="q1-l20t50" style="left:20%;top:50%;"><img class="question-img" src="images/pregunta.svg"></div>
    <div class="over-content question" id="q2-l55t60" style="left:55%;top:60%;"><img class="question-img" src="images/pregunta.svg"></div>
    <div class="over-content question" id="q3-l85t23" style="left:85%;top:23%;"><img class="question-img" src="images/pregunta.svg"></div>
    <!-- Fin Preguntas -->


    <!-- Respuestas -->
    <div class="over-content answer" id="q1a1-l67t21" style="left:67%;top:21%;"><img class="answer-img" src="images/respuesta.svg"></div>
    <div class="over-content answer" id="q1a2-l45t90" style="left:45%;top:90%;"><img class="answer-img" src="images/respuesta.svg"></div>
    <div class="over-content answer" id="q2a1-l28t80" style="left:28%;top:80%;"><img class="answer-img" src="images/respuesta.svg"></div>
    <div class="over-content answer" id="q2a2-l42t50" style="left:42%;top:50%;"><img class="answer-img" src="images/respuesta.svg"></div>
    <div class="over-content answer" id="q2a3-l45t10" style="left:45%;top:10%;"><img class="answer-img" src="images/respuesta.svg"></div>
    <div class="over-content answer" id="q3a1-l95t55" style="left:95%;top:55%;"><img class="answer-img" src="images/respuesta.svg"></div>
    <div class="over-content answer" id="q3a2-l72t80" style="left:72%;top:80%;"><img class="answer-img" src="images/respuesta.svg"></div>
    <!-- Fin Respuestas -->


    <!-- Puntos Extra -->

    <!-- Extra Pregunta 1 -->
    <div class="over-content extra" id="q1a1e1-l36t30" style="left:36%;top:30%;"><img class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra" id="q1a1e2-l50t21" style="left:50%;top:21%;"><img class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra" id="q1a2e1-l35t70" style="left:35%;top:70%;"><img class="extra-img" src="images/extra.svg"></div>

    <!-- Extra Pregunta 2 -->
    <div class="over-content extra" id="q2a1e1-l54t75" style="left:54%;top:75%;"><img class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra" id="q2a3e1-l50t40" style="left:50%;top:40%;"><img class="extra-img" src="images/extra.svg"></div>
    <!-- Q2A3E2 OK -->

    <!-- Extra Pregunta 3 -->
    <div class="over-content extra" id="q3a2e1-l80t40" style="left:80%;top:40%;"><img class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra" id="q3a2e2-l76t59" style="left:76%;top:59%;"><img class="extra-img" src="images/extra.svg"></div>

    <!-- Extras Individuales -->
    <div class="over-content extra" id="e1-l22t21" style="left:22%;top:21%;"><img class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra" id="e2-l10t40" style="left:10%;top:40%;"><img class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra" id="e3-l7t65" style="left:7%;top:65%;"><img class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra" id="e4-l20t68" style="left:20%;top:68%;"><img class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra" id="e5-l13t85" style="left:13%;top:85%;"><img class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra" id="e6-l30t91" style="left:30%;top:91%;"><img class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra" id="e7-l40t96" style="left:40%;top:96%;"><img class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra" id="e8-l65t7" style="left:65%;top:7%;"><img class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra" id="e9-l61t90" style="left:61%;top:90%;"><img class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra" id="e10-l75t95" style="left:75%;top:95%;"><img class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra" id="e11-l85t82" style="left:85%;top:82%;"><img class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra" id="e12-l90t85" style="left:90%;top:85%;"><img class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra" id="e13-l96t75" style="left:96%;top:75%;"><img class="extra-img" src="images/extra.svg"></div>

    <!-- Fin Puntos Extra -->

  </div>

  <!-- Fin Puntos -->


  <!-- Tooltips -->
  <div class="tooltip-layer">
    
    <!-- Pregunta 1 -->
    <div class="tt-q1-container hidden">
      <div class="over-content tooltip arrowbox-left tt-question" id="tt-q1" style="left:27%;top:44%;">
        <p class="tt-content">Hay dos principales momentos en los que estamos el cerebro entra en estado de reposo.</p>
        <p class="tt-title">¿En cuál de estas dos situaciones te encuentras más a menudo?</p>
      </div>
      
      <div class="over-content tooltip tt-answer" video-id="193102703" id="tt-q1a1" style="left:69%;top:24%;">
        <p class="tt-title">A. No realizando ninguna actividad</p>
        <p class="tt-content">(contemplación, soñando despierto)</p>
      </div>

      <div class="over-content tooltip tt-answer" video-id="193103370" id="tt-q1a2" style="left:47%;top:82%;">
        <p class="tt-title">B. Realizando alguna actividad mecánica</p>
        <p class="tt-content">(lavarse los dientes, preparar café, colorear, caminar)</p>
      </div>
    </div>
    <!-- Fin Pregunta 1 -->

    <!-- Pregunta 2 -->
    <div class="tt-q2-container hidden">
      <div class="over-content tooltip arrowbox-left tt-question" id="tt-q2" style="left:62%;top:54%;">
        <p class="tt-content">Sabemos que es imposible volver al pasado o ir al futuro. Sin embargo, la mente tiene la capacidad de viajar en el tiempo.</p>
        <p class="tt-title">¿Hacia qué tiempos sueles ir?</p>
      </div>
      
      <div class="over-content tooltip tt-answer" video-id="193103605" id="tt-q2a1" style="left:30%;top:83%;">
        <p class="tt-content">A. Pasado</p>
      </div>

      <div class="over-content tooltip tt-answer" video-id="193103745" id="tt-q2a2" style="left:44%;top:53%;">
        <p class="tt-content">B. Futuro</p>
      </div>

      <div class="over-content tooltip tt-answer" video-id="193104160" id="tt-q2a3" style="left:47%;top:13%;">
        <p class="tt-content">C. Ninguno en particular</p>
      </div>
    </div>
    <!-- Fin Pregunta 2 -->

    <!-- Pregunta 3 -->
    <div class="tt-q3-container hidden">
      <div class="over-content tooltip arrowbox-right tt-question" id="tt-q3" style="left:63%;top:18%;">
        <p class="tt-content">La divagación mental puede generar distintos efectos en las personas.</p>
        <p class="tt-title">¿Qué consecuencias crees que ha tenido para tí estar en estados de reposo?</p>
      </div>
      
      <div class="over-content tooltip tt-answer" video-id="193104645" id="tt-q3a1" style="left:90%;top:58%;">
        <p class="tt-content">A. Positivos</p>
      </div>

      <div class="over-content tooltip tt-answer" video-id="193107409" id="tt-q3a2" style="left:74%;top:83%;">
        <p class="tt-content">B. Negativos</p>
      </div>
    </div>
    <!-- Fin Pregunta 3 -->
    
  </div>
  <!-- Fin Tooltips -->


  <!-- Líneas -->
  <div class="svg-container hidden">
    <svg><!-- Se crean las líneas de forma dinámica en init.js --></svg>
  </div>
  <!-- Fin Líneas -->


</div>

<script src="javascripts/init.js"></script>