<link href='https://fonts.googleapis.com/css?family=Alegreya:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

<link title="timeline-styles" rel="stylesheet" href="stylesheets/timeline.css">
<link title="timeline-custom-styles" rel="stylesheet" href="stylesheets/style.css">
<script src="javascripts/timeline.js"></script>

<div class="header-filter">
  <p class="header-title">Eventos desplegados por</p>
  <p class="filter-title">INTERACCIÓN</p>
  <!-- <div class="tl-menubar custom">
    <span class="tl-menubar-button custom"><span class="tl-icon-zoom-in"></span></span>
    <span class="tl-menubar-button custom"><span class="tl-icon-zoom-out"></span></span>
    <span class="tl-menubar-button custom"><span class="tl-icon-goback"></span></span>
  </div> -->
</div>

<div id='timeline-embed' style="width: 100%; height: 620px"></div>

<script type="text/javascript">
var timeline_json = {
    "title": {
        "media": {
          "url": "//www.flickr.com/photos/tm_10001/2310475988/",
          "caption": "Whitney Houston performing on her My Love is Your Love Tour in Hamburg.",
          "credit": "flickr/<a href='http://www.flickr.com/photos/tm_10001/'>tm_10001</a>"
        },
        "text": {
          "headline": "Whitney Houston<br/> 1963 - 2012",
          "text": "<p>Houston's voice caught the imagination of the world propelling her to superstardom at an early age becoming one of the most awarded performers of our time. This is a look into the amazing heights she achieved and her personal struggles with substance abuse and a tumultuous marriage.</p>"
        }
    },
    "events": [
      {
        "media": {
          "url": "http://www.flickr.com/photos/11447043@N00/418180903/",
          "caption": "Houston's mother and Gospel singer, Cissy Houston (left) and cousin Dionne Warwick.",
          "credit": "Cissy Houston photo:<a href='http://www.flickr.com/photos/11447043@N00/418180903/'>Tom Marcello</a><br/><a href='http://commons.wikimedia.org/wiki/File%3ADionne_Warwick_television_special_1969.JPG'>Dionne Warwick</a>"
        },
        "start_date": {
          "month": "8",
          "day": "9",
          "year": "1963"
        },
        "text": {
          "headline": "A Musical Heritage",
          "text": "<p>Born in New Jersey on August 9th, 1963, Houston grew up surrounded by the music business. Her mother is gospel singer Cissy Houston and her cousins are Dee Dee and Dionne Warwick.</p>",
          "interaccion": {
            "tag": "Declaración",
            "principal": "Alcaldes manifiestan descontento frente a rebaja presupuestaria",
            "secundaria": "Alcalde anunció reactivación de Movimiento Ciudadano"
          }
        }
      },
      {
        "media": {
          "url": "https://youtu.be/fSrO91XO1Ck",
          "caption": "",
          "credit": "<a href=\"http://unidiscmusic.com\">Unidisc Music</a>"
        },
        "start_date": {
          "year": "1978"
        },
        "text": {
          "headline": "First Recording",
          "text": "At the age of 15 Houston was featured on Michael Zager's song, Life's a Party."
        }
      },
      {
        "media": {
          "url": "https://youtu.be/_gvJCCZzmro",
          "caption": "A young poised Whitney Houston in an interview with EbonyJet.",
          "credit": "EbonyJet"
        },
        "start_date": {
          "year": "1979"
        },
        "text": {
          "headline": "The Early Years",
          "text": "As a teen Houston's credits include background vocals for Jermaine Jackson, Lou Rawls and the Neville Brothers. She also sang on Chaka Khan's, 'I'm Every Woman,' a song which she later remade for the <i>Bodyguard</i> soundtrack which is the biggest selling soundtrack of all time. It sold over 42 million copies worldwide."
        }
      },
      {
        "media": {
          "url": "https://youtu.be/H7_sqdkaAfo",
          "caption": "I'm Every Women as performed by Whitney Houston.",
          "credit": "Arista Records"
        },
        "start_date": {
          "year": "1980"
        },
        "text": {
          "headline": "Early Album Credits",
          "text": "As a teen Houston's credits include background vocals for Jermaine Jackson, Lou Rawls and the Neville Brothers. She also sang on Chaka Khan's, 'I'm Every Woman,' a song which she later remade for the <i>Bodyguard</i> soundtrack which is the biggest selling soundtrack of all time. It sold over 42 million copies worldwide."
        }
      },
      {
        "media": {
          "url": "https://youtu.be/A4jGzNm2yPI",
          "caption": "Whitney Houston and Clive Davis discussing her discovery and her eponymous first album.",
          "credit": "Sony Music Entertainment"
        },
        "start_date": {
          "year": "1983"
        },
        "text": {
          "headline": "Signed",
          "text": "Houston is signed to Arista Records after exec Clive Davis sees her performing on stage with her mother in New York."
        }
      },
      {
        "media": {
          "url": "https://youtu.be/m3-hY-hlhBg",
          "caption": "The 'How Will I Know' video showcases the youthful energy that boosted Houston to stardom.",
          "credit": "Arista Records Inc."
        },
        "start_date": {
          "year": "1985"
        },
        "text": {
          "headline": "Debut",
          "text": "Whitney Houston's self titled first release sold over 12 million copies in the U.S. and included the hit singles 'How Will I Know,' 'You Give Good Love,' 'Saving All My Love For You' and 'Greatest Love of All.'"
        }
      },
      {
        "media": {
          "url": "https://youtu.be/v0XuiMX1XHg",
          "caption": "Dionne Warwick gleefully announces cousin, Whitney Houston, the winner of the Best Female Pop Vocal Performance for the song Saving All My Love.",
          "credit": "<a href='http://grammy.org'>The Recording Academy</a>"
        },
        "start_date": {
          "year": "1986"
        },
        "text": {
          "headline": "'The Grammys'",
          "text": "In 1986 Houston won her first Grammy for the song Saving All My Love. In total she has won six Grammys, the last of which she won in 1999 for It's Not Right But It's Okay."
        }
      },
      {
        "media": {
          "url": "https://youtu.be/eH3giaIzONA",
          "caption": "I Wanna Dance With Somebody",
          "credit": "Arista Records Inc."
        },
        "start_date": {
          "year": "1987"
        },
        "text": {
          "headline": "'Whitney'",
          "text": "Multiplatinum second album sells more than 20 million copies worldwide. With 'Whitney', Houston became the first female artist to produce four number 1 singles on one album including \"I Wanna Dance With Somebody,' 'Didn't We Almost Have It All,' 'So Emotional' and 'Where Do Broken Hearts Go.'"
        }
      },
      {
        "media": {
          "url": "https://youtu.be/96aAx0kxVSA",
          "caption": "\"One Moment In Time\" - Theme song to the 1988 Seoul Olympics",
          "credit": "Arista Records Inc."
        },
        "start_date": {
          "year": "1988"
        },
        "text": {
          "headline": "\"One Moment In Time\"",
          "text": "The artist's fame continues to skyrocket as she records the theme song for the Seoul Olympics, 'One Moment In Time.'"
        }
      },
      {
        "media": {
          "url": "",
          "caption": "",
          "credit": ""
        },
        "start_date": {
          "year": "1989"
        },
        "text": {
          "headline": "Bobby Brown",
          "text": "Houston and Brown first meet at the Soul Train Music Awards. In an interview with Rolling Stone Magazine, Houston admitted that it was not love at first sight. She turned down Brown's first marriage proposal but eventually fell in love with him."
        }
      },
      {
        "media": {
          "url": "https://youtu.be/5Fa09teeaqs",
          "caption": "CNN looks back at Houston's iconic performance of the national anthem at Superbowl XXV.",
          "credit": "CNN"
        },
        "start_date": {
          "year": "1991"
        },
        "text": {
          "headline": "Super Bowl",
          "text": "Houston's national anthem performance captures the hearts and minds of Americans ralllying behind soldiers in the Persian Guf War."
        }
      },
      {
        "media": {
          "url": "https://youtu.be/h9rCobRl-ng",
          "caption": "\"Run To You\" from the 1992 \"Bodyguard\" soundtrack..",
          "credit": "Arista Records"
        },
        "start_date": {
          "year": "1992"
        },
        "text": {
          "headline": "\"The Bodyguard\"",
          "text": "Houston starred opposite Kevin Costner in the box office hit, The Bodyguard. The soundtrack to the movie sold over 44 million copies worldwide  garnering 3 Grammy's for the artist."
        }
      },
      {
        "media": {
          "url": "https://youtu.be/5cDLZqe735k",
          "caption": "Bobby Brown performing \"My Prerogrative,\" from his \"Don't be Cruel\" solo album. Bobby Brown first became famous with the R&B group, New Edition.",
          "credit": ""
        },
        "start_date": {
          "year": "1992"
        },
        "text": {
          "headline": "Married Life",
          "text": "<p>After three years of courtship, Houston marries New Edition singer Bobby Brown. Their only child Bobbi Kristina Brown was born in 1993.</p><p>In 2003 Brown was charged with domestic violence after police responded to a domestic violence call. Houston and Brown were featured in the reality show, \"Being bobby Brown,\" and divorced in 2007.</p>"
        }
      },
      {
        "media": {
          "url": "//upload.wikimedia.org/wikipedia/commons/d/dd/ABC_-_Good_Morning_America_-_Diane_Sawyer.jpg",
          "caption": "Diane Sawyer ",
          "credit": "flickr/<a href='http://www.flickr.com/photos/23843757@N00/194521206/'>Amanda Benham</a>"
        },
        "start_date": {
          "year": "2002"
        },
        "text": {
          "headline": "Crack is Whack",
          "text": "<p>Houston first publicly admitted to drug use in an interview with Diane Sawyer. The singer coined the term \"Crack is Whack,\" saying that she only used more expensive drugs.</p>"
        }
      },
      {
        "media": {
          "url": "https://youtu.be/KLk6mt8FMR0",
          "caption": "Addiction expert, Dr. Drew, talks about Whitney's death and her struggle with addiction.",
          "credit": "CNN"
        },
        "start_date": {
          "year": "2004"
        },
        "text": {
          "headline": "Rehab",
          "text": "<p>Houston entered rehab several times beginning in 2004. She declared herself drug free in an interview with Oprah Winfrey in 2009 but returned to rehab in 2011.</p>"
        }
      },
      {
        "media": {
          "url": "",
          "caption": "",
          "credit": ""
        },
        "start_date": {
          "year": "2005"
        },
        "text": {
          "headline": "Being Bobby Brown",
          "text": "<p>Being Bobby Brown was a reality show starring Brown and wife Whitney Houston. Houston refused to sign for a second season. A clip of her telling Brown to \"Kiss my ass,\" became a running gag on The Soup.</p>"
        }
      },
      {
        "media": {
          "url": "",
          "caption": "",
          "credit": ""
        },
        "start_date": {
          "year": "2010"
        },
        "text": {
          "headline": "A Rocky Comeback",
          "text": "<p>Houston's comeback tour is cut short due to a diminished voice damaged by years of smoking. She was reportedly devastated at her inability to perform like her old self.</p>"
        }
      },
      {
        "media": {
          "url": "//upload.wikimedia.org/wikipedia/commons/0/0f/Flickr_Whitney_Houston_performing_on_GMA_2009_4.jpg",
          "caption": "Houston, performing on Good Morning America in 2009.",
          "credit": "<a href='http://commons.wikimedia.org/wiki/File%3AFlickr_Whitney_Houston_performing_on_GMA_2009_4.jpg'>Asterio Tecson</a> via Wikimedia"
        },
        "start_date": {
          "month": "2",
          "day": "11",
          "year": "2012"
        },
        "text": {
          "headline": "Whitney Houston<br/> 1963-2012",
          "text": "<p>Houston, 48, was discovered dead at the Beverly Hilton Hotel on  on Feb. 11, 2012. She is survived by her daughter, Bobbi Kristina Brown, and mother, Cissy Houston.</p>"
        }
      }
    ]
};

var plus_json = {
    "title": {
        "media": {
          "url": "http://www.timeline.cl/wp-content/uploads/2015/05/Captura-de-pantalla-2015-05-04-a-las-22.10.46-890x395.png",
          "caption": "Calama, 2015",
          "credit": "<a href='http://www.timeline.cl/'>timeline.cl</a>"
        },
        "text": {
          "headline": "Controversias Calama<br/> 2010 - 2015",
          "text": "<p>Línea de tiempo de las controversias más importantes asociadas a la ciudad de Calama y sus habitantes.</p>"
        }
    },
    "events": [
      {'media': {"url": "https://youtu.be/_gvJCCZzmro",
          "caption": "A young poised Whitney Houston in an interview with EbonyJet.",
          "credit": "EbonyJet"}, 'start_date': {'month': '3', 'day': '20', 'year': '2010'}, 'text': { 'headline': 'Consejo Minero se opone a aumentar el royalty', 'text': 'Consejo minero', 'interaccion': { 'tag': 'N/I', 'principal': 'Consejo Minero se declara en contra del aumento del royalty', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '3', 'day': '20', 'year': '2010'}, 'text': { 'headline': 'Federación Minera dice se puede', 'text': 'Presidente de la Federación Minera de Chile Pedro Marín', 'interaccion': { 'tag': 'Declaración', 'principal': 'Presidente de la Federación Minera de Chile declara la existencia de posibles medidas para generar recursos de manera más inmediata que la modificación del royalty.', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '3', 'day': '27', 'year': '2010'}, 'text': { 'headline': 'Felipe Ward asegura que US$500 millones no llegarán a Calama', 'text': 'Diputado Felipe Ward, Gobernador provincial Luis Garrido', 'interaccion': { 'tag': 'Declaración', 'principal': 'Diputado Felipe Ward declara que US$500 millones no están disponibles y fueron prometidos por la administración anterior ', 'secundaria': 'Gobernador provincial Luis Garrido manifestó estar de acuerdo con Ward y puso en duda la existencia de un documento oficial que haga referencia al dinero en cuestión.'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '3', 'day': '28', 'year': '2010'}, 'text': { 'headline': 'Recorte del presupuesto del FNDR podría alcanzar el 16%', 'text': 'Consejo regional Victor Alvarado, Intendente Álvaro Fernandez, Dirección de Presupuesto del Ministerio de Haciendas, legisladores locales, consejeros regionales, Presidenta de la Asociación Regional de Municipalidades, Alcaldesa de San Pedro de Atacama Sandra Berna, Gobernador Luis Garrido, ', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Dirección de Presupuesto del Ministerio de Hacienda informando de la reducción del presupuesto del FNDR, la cual podría alcanzar el 16%. ', 'secundaria': 'Consejo Regional hace llamado a alcaldes a priorizar sus proyectos'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '3', 'day': '31', 'year': '2010'}, 'text': { 'headline': 'Alcaldes reaccionan molestos ante rebaja presupuestaria', 'text': 'Alcalde de Calama Esteban Velásquez, Movimiento Ciudadano ', 'interaccion': { 'tag': 'Declaración', 'principal': 'Alcaldes manifiestan descontento frente a rebaja presupuestaria', 'secundaria': 'Alcalde anunció reactivación de Movimiento Ciudadano'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '9', 'day': '25', 'year': '2010'}, 'text': { 'headline': 'El cobre es una bendición que hay que proteger', 'text': 'Director del Sindicato Uno de Codelco Norte Hilario Ramírez', 'interaccion': { 'tag': 'Declaración', 'principal': 'Director del Sindicato Uno de Codelco Norte declara que Chile es la única superpotencia tanto en producción como en comercio mundial del cobre', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '9', 'day': '26', 'year': '2010'}, 'text': { 'headline': 'Siguen manifestaciones encontra del royalty minero', 'text': 'Calama Levántate, Comunidad Calama', 'interaccion': { 'tag': 'Manifestación Social', 'principal': 'Calameños se movilizan en contra del proyecto de ley del royalty', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '9', 'day': '27', 'year': '2010'}, 'text': { 'headline': 'Manifestantes bloquearon ruta a Chuqui', 'text': 'Alcalde de Calama Esteban Velásquez, Comunidad Calama', 'interaccion': { 'tag': 'Manifestación Social', 'principal': 'Manifestantes bloquearon camino de ingreso a Chuquicamata', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '9', 'day': '28', 'year': '2010'}, 'text': { 'headline': '"Si siguen los paros actuaremos con todo el rigor de la ley"', 'text': 'N/I', 'interaccion': { 'tag': 'N/I', 'principal': 'N/I', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '9', 'day': '28', 'year': '2010'}, 'text': { 'headline': '"Ayer fue la batalla de Topáter, hoy es la batalla por el cobre"', 'text': 'Alcalde de Calama Esteban Velásquez', 'interaccion': { 'tag': 'Declaración', 'principal': 'Alcalde de Calama declara la necesidad de un verdadero royalty que mantenga los recursos en el municipio.', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '9', 'day': '28', 'year': '2010'}, 'text': { 'headline': 'Alcalde anunció nueva marcha', 'text': 'Alcalde de Calama Esteban Velásquez, Política, Comunidad Calama', 'interaccion': { 'tag': 'Anuncio, Entrega de documento', 'principal': 'Alcalde anuncia nueva marcha a realizarse el 5 de Octubre con la participación de los 9 municipios de la región', 'secundaria': 'Alcalde envió carta y documentos a Presidente Piñera con audios y archivos de prensa con compromisos hechos durante su época de candidato'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '3', 'year': '2011'}, 'text': { 'headline': '500 millones de dólares cuesta indemnización para Calama', 'text': 'Alcalde de Calama Esteban Velásquez', 'interaccion': { 'tag': 'Declaración', 'principal': 'Alcalde cifra la demanda de Movimiento Ciudadano en 500 millones de dólares, monto que compensaría dinero que no se ha recibido desde 1974.', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '28', 'year': '2011'}, 'text': { 'headline': '"Nos estamos jugando la semilla de la sobrevivencia de Calama"', 'text': 'Alcalde de Calama Esteban Velásquez, Comunidad Calama, Prefectura de Carabineros', 'interaccion': { 'tag': 'Convocatoria', 'principal': 'Alcalde llama a la manifestación pacífica', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '28', 'year': '2011'}, 'text': { 'headline': 'Cuatro actividades tiene el paro', 'text': 'Movimiento Ciudadano, Comunidad Calama, Colegio de Profesores, Anef, Confusam, CUT, Transporte Mayor, Transporte Menor, Colegio Médico, Organizaciones de Mujeres, Feriantes, Unión Comunal del Adulto Mayor, Uniones Comunales de Juntas de Vecinos, Sindicatos de Chuquicamata, Cámara de Comercio, Comando del Cobre, organizaciones sociales, Iglesia Católica, ', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Comunidad Calama se manifestará en un paro seccionado en 4 actividades', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '28', 'year': '2011'}, 'text': { 'headline': '"Este movimiento no tiene un norte y tampoco saben a dónde van"', 'text': 'Concejal Ignacio Urdangarín, Alcalde de Calama Esteban Velásquez, Comunidad Calama', 'interaccion': { 'tag': 'Declaración, Interpelación', 'principal': 'Concejal opina que se está engañando a los calameños con promesas que no serán resueltas por medios de movilizaciones y acusa de irresponsable al Alcalde por abandonar sus funciones por organizar otras actividades relacionadas al Movimiento.', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '28', 'year': '2011'}, 'text': { 'headline': 'El objetivo es que no sea un día normal', 'text': 'Alcalde de Calama Esteban Velásquez, Comunidad Calama', 'interaccion': { 'tag': 'Convocatoria', 'principal': 'Alcalde invita a formar parte de molivizaciones y hace un llamado a quienes no pueden o quieren participar a reflexionar y a no hacer trámites.', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '28', 'year': '2011'}, 'text': { 'headline': 'Paro entra en su tercera semana', 'text': 'Seremi de Educación Vicente Ayala, Comunidad Calama, Jóvenes calameños, Ministro Joaquín Lavín, Gobierno', 'interaccion': { 'tag': 'Manifestación Social, Declaración', 'principal': 'Jóvenes calameños entran en su tercera semana luego de unirse al paro nacional', 'secundaria': 'Seremi de Educación Vicente Ayala indica que es la calidad de la educación la gran perdujicada de las movilizaciones'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '30', 'year': '2011'}, 'text': { 'headline': 'Calameños hicieron sentir sus demandas', 'text': 'Comunidad Calama', 'interaccion': { 'tag': 'Manifestación Social', 'principal': 'El Paro comunal en Calama convocó diversas actividades y logró un cese general de labores y actividades en la ciudad', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '30', 'year': '2011'}, 'text': { 'headline': 'Tranquilidad de Calameños', 'text': 'Comunidad Calama, Gobernador de El Loa Luis Garrido Ampuero', 'interaccion': { 'tag': 'Declaración', 'principal': 'Gobernador de El Loa destaca forma pacífica de manifestación de la comunidad loína', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '30', 'year': '2011'}, 'text': { 'headline': 'Vamos a unir al norte por el agua y el cobre', 'text': 'Alcalde de Calama Esteban Velásquez, Comunidad Calama', 'interaccion': { 'tag': 'Convocatoria', 'principal': 'Alcalde agradece participación en la movilización y llama a seguir en la lucha', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '30', 'year': '2011'}, 'text': { 'headline': 'Intendente resaltó conducta ciudadana', 'text': 'Intendente regional Álvaro Fernández, Comunidad Calama', 'interaccion': { 'tag': 'Declaración', 'principal': 'Intendente de la región destacó conducta pacífica de la ciudadanía', 'secundaria': 'Intendente manifestó que Gobierno se está haciendo carga de deudas históricas con Calama a partir del desarrollo de iniciativas'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '30', 'year': '2011'}, 'text': { 'headline': 'Una lucha sin colores en defensa de Calama', 'text': 'Diputado Pedro Araya', 'interaccion': { 'tag': 'Declaración', 'principal': 'Diputado Pedro Araya considera la demanda de los calameños como justa y necesaria', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '30', 'year': '2011'}, 'text': { 'headline': 'También somos Chile en Calama', 'text': 'Diputado Marcos Espinosa, Comunidad Calama', 'interaccion': { 'tag': 'Declaración', 'principal': 'Diputado Marcos Espinosa resaltó participación de la ciudadanía en la movilización y habla de las necesidades de Calama', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '30', 'year': '2011'}, 'text': { 'headline': 'Hinzpeter habló de Calama', 'text': 'Ministro del interior Rodrigo Hinzpeter, Comunidad Calama', 'interaccion': { 'tag': 'Declaración', 'principal': 'Ministro del Interior Rodrigo Hinzpeter calificó de irresponsable el compromiso realizado en el gobierno anterior con Calama', 'secundaria': 'Ministro del Interior Rodrigo Hinzpeter se comprometió a informar los resultados del análisis de las demandas de la comunidad.'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '30', 'year': '2011'}, 'text': { 'headline': 'Mineras de Codelco produjeron normalmente', 'text': 'N/I', 'interaccion': { 'tag': 'N/I', 'principal': 'N/I', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '30', 'year': '2011'}, 'text': { 'headline': 'Tarde de movilización tuvo dispares realidades en Calama', 'text': 'Gremios de camioneros, Gremios de colectiveros, Gremios de microbuseros, Movimiento Ciudadano, Comunidad Calama, Ana Muñoz', 'interaccion': { 'tag': 'Manifestación Social', 'principal': 'Comunidad calameña se manifestó, y a pesar de la amplia convocatoria a las actividades durante el día, ya en la noche disminuyó la participación', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '30', 'year': '2011'}, 'text': { 'headline': 'Gobernación recibió dos bombazos nocturnos', 'text': 'Gobernador Luis Garrido, Comunidad Calama, Carabineros, ', 'interaccion': { 'tag': 'Manifestación Social', 'principal': 'Gobernación El Loa fue atacada con dos bombas de ruido', 'secundaria': 'El Gobernador loíno Luis Garrido presentará querella criminal contra los responsables del atentado'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '30', 'year': '2011'}, 'text': { 'headline': 'Intentaron quemar rieles', 'text': 'N/I', 'interaccion': { 'tag': 'N/I', 'principal': 'N/I', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '30', 'year': '2011'}, 'text': { 'headline': 'Calama despertó sin transporte público', 'text': 'Transporte, Comunidad Calama', 'interaccion': { 'tag': 'Manifestación Social', 'principal': 'Transporte público de Calama se paralizó con motivo de la marcha', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '30', 'year': '2011'}, 'text': { 'headline': 'Discurso', 'text': 'Gobernador Luis Garrido, Comunidad Calama, Alberto Orellana', 'interaccion': { 'tag': 'Declaración', 'principal': 'Lector plantea un cambio de discurso en las opiniones vertidas por Gobernador Luis Garrido', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '30', 'year': '2011'}, 'text': { 'headline': 'Derechos', 'text': 'Supervisor de División Codelco Iván Herrera, trabajadores Codelco, José Araya', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Lector y ex trabajador de Codelco decide entablar una demanda colectiva en contra de Codelco, debido a vulneración de sus derechos.', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '30', 'year': '2011'}, 'text': { 'headline': 'Apoya movilización', 'text': 'Comunidad Calama, Alcalde de Calama Esteban Velásquez, Iglesia Católica, Nicol Muñoz Madariaga', 'interaccion': { 'tag': 'Declaración', 'principal': 'Lectora destaca movimiento calameño y también la participación y gestión del alcalde de la comuna', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '6', 'day': '30', 'year': '2011'}, 'text': { 'headline': 'Desarrollo Local', 'text': 'Gobierno, Empresa privada, Corporaciones, ONG, Instituciones técnicas, sociedad civil, Gerente Proloa Alexandra Marín', 'interaccion': { 'tag': 'Declaración', 'principal': 'Columnista plantea que para el trabajo de proyectos se debe trabajar en conjunto con las comunidades involucradas, abarcando la dimensión social, económica, cultural y ambiental de dicha propuesta.', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '1', 'year': '2012'}, 'text': { 'headline': 'Las principales interrogantes sobre el Fondenor', 'text': 'Diputado Marcos Espinosa, Movimiento Ciudadano, Comunidad Calama', 'interaccion': { 'tag': 'Socialización', 'principal': 'Diputado Marcos Espinosa es invitado por el Movimiento Ciudadano a exponer sobre el proyecto Fondenor ', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '1', 'year': '2012'}, 'text': { 'headline': 'Alcalde emplaza al gobierno para que entregue antecedentes del Fondenor', 'text': 'Alcalde de Calama Esteban Velásquez', 'interaccion': { 'tag': 'Interpelación', 'principal': 'Alcalde emplaza al gobierno y pide entrega de antecedentes del proyecto que será entregado al parlamento', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '1', 'year': '2012'}, 'text': { 'headline': 'Nuevo Foro Ciudadano del plan Calama PLUS', 'text': 'Líder del equipo técnico de Calama PLUS Alejandro Aravena', 'interaccion': { 'tag': 'Socialización', 'principal': 'Calama Plus realizará un Foro Ciudadano donde Alejando Aravena presentará los proyectos', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '1', 'year': '2012'}, 'text': { 'headline': 'En el 2013 estaría terminada la primera etapa de Balmaceda', 'text': 'Director regional SERVIU Julio Calderón, SERVIU, Comunidad Calama', 'interaccion': { 'tag': 'Anuncio', 'principal': 'En noviembre del año 2013 estará terminada la primera fase del proyecto Mejoramiento del Eje Balmaceda', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '5', 'year': '2012'}, 'text': { 'headline': 'La universidad: el anhelo que no considera el Plan Urbano', 'text': 'Líder del equipo técnico de Calama PLUS Alejandro Aravena, Alcalde de Calama Esteban Velásquez, Asamblea Ciudadana', 'interaccion': { 'tag': 'Declaración', 'principal': 'Alcalde y líder del equipo técnico de Calama Plus se manifiestan respecto a que el proyecto no considere la construcción de una universidad', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '6', 'year': '2012'}, 'text': { 'headline': 'Llaman a participar de la consulta del Calama PLUS', 'text': 'Comunidad Calama, líder técnico de Calama PLUS Alejandro Aravena', 'interaccion': { 'tag': 'Consulta Ciudadana, Convocatoria', 'principal': 'Ciudadanía es invitada a participar de la Consulta Ciudadana a realizarse los días 12, 13 y 14 de abril', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '15', 'year': '2012'}, 'text': { 'headline': 'Alcalde cansado del centralismo viaja a la capital para dar urgencia al Fondenor', 'text': 'Alcalde de Calama Esteban Velásquez', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Alcalde anuncia su viaje a Santiago con motivo de presionar el despacho del proyecto Fondenor', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '15', 'year': '2012'}, 'text': { 'headline': 'Masiva votación superó expectativas del Calama PLUS', 'text': 'Intendente regional Álvaro Fernández, Comunidad Calama', 'interaccion': { 'tag': 'Consulta Ciudadana', 'principal': 'Ciudadanía tuvo una alta participación en la Consulta Ciudadana realizada por Calama Plus', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '16', 'year': '2012'}, 'text': { 'headline': 'Definitivo: los calameños piden educación superior', 'text': 'Coordinador de la Consulta Pública Gabriel Méndez, Comunidad Calama, Intendente regional Álvaro Fernández', 'interaccion': { 'tag': 'Consulta Ciudadana', 'principal': 'Calameños priorizan la mejora de la educación técnico-profesional y educación superior en Consulta Ciudadana', 'secundaria': 'Coordinador de Consulta Pública e Intendente regional dan cuenta de los principales resultados obtenidos'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '16', 'year': '2012'}, 'text': { 'headline': 'Alcalde: "Viajo más convencido que hay recursos que traer"', 'text': 'Alcalde de Calama Esteban Velásquez', 'interaccion': { 'tag': 'Declaración', 'principal': 'Alcalde viaja a Santiago para manifestar el interés en traer recursos a Calama', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '16', 'year': '2012'}, 'text': { 'headline': 'Estudio detecta aumento de las Pymes en la región', 'text': 'Dr. Miguel Atienza, Centro de Emprendimiento y de la Pyme (Cemp), Decano de la Facultad de Humanidades Universidad Católica del Norte Ángel Gómez, Seremi de Economía de la Región de Antofagasta Claudia Meneses.', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Estudio en la región de Antofagasta dio cuenta de un aumento de empresas y la incorporación de universitarios a las pequeñas y medianas empresas (pymes)', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '25', 'year': '2012'}, 'text': { 'headline': 'Gobierno enviará mañana el Fondenor', 'text': '', 'interaccion': { 'tag': 'N/I', 'principal': 'N/I', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '5', 'day': '2', 'year': '2012'}, 'text': { 'headline': 'Fondenor no cumple con las expectativas calameñas', 'text': 'Ministro del Interior Rodrigo Hinzpeter, Alcalde de Calama Esteban Velásquez, Integrante de Asamblea Ciudadana Daniel Ramírez Arqueros, Diputado Manuel Rojas, Senador José Antonio Gómez', 'interaccion': { 'tag': 'Socialización, Declaración', 'principal': 'Rodrigo Hinzpeter adelantó datos sobre el proyecto enviado', 'secundaria': 'Integrante de la Asamblea ciudadana  Daniel Ramírez, diputado Manuel Rojas, senador José Antonio Gómez y Alcalde de Calama expresaron su descontento respecto a la propuesta'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '5', 'day': '2', 'year': '2012'}, 'text': { 'headline': 'Arica relacionó su avanzada ciudadana con la de Calama', 'text': 'Asamblea Pública de Arica y Parinacota, vocero del movimiento ciudadano Humberto Choque, Alcalde de Calama Esteban Velásquez, ', 'interaccion': { 'tag': 'Declaración', 'principal': 'Asamblea pública de Arica y Parinacota convocó a reunión para discutir temas relevantes de la región y ver medidas para el desarrollo regional', 'secundaria': 'Dirigente del movimiento Humberto Choque estableció una comparación con movimientos recientes de Aysén y Calama'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '5', 'day': '4', 'year': '2012'}, 'text': { 'headline': 'Asamblea solicitó a los parlamentarios no aprobar el proyecto Fondenor', 'text': 'Asamblea Ciudadana, Alcalde de Calama Esteban Velásquez, senadora Isabel Allende, senador José Antonio Gómez, Presidente CUT Calama José Mardones', 'interaccion': { 'tag': 'Interpelación, Declaración', 'principal': 'Asamblea Ciudadana se reúne en el Paseo Ramírez a manifestar su rechazo por el proyecto Fondenor, leyendo el acta de acuerdos tomados en la Asamblea Ciudadana', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '5', 'day': '4', 'year': '2012'}, 'text': { 'headline': 'Diputados de distritos mineros en desacuerdo con propuesta del Gobierno', 'text': 'Diputado Marcos Espinosa, Diputada Adriana Muñoz, Diputado Lautaro Carmona, Senador Carlos Cantero, Alcalde de Calama Esteban Velásquez, Movimiento Ciudadano', 'interaccion': { 'tag': 'Declaración', 'principal': 'Diputados de diferentes bancadas presentaron su descontento con propuesta de ley Fondenor', 'secundaria': 'Senador Carlos Cantero manifiesta una opinión distinta expresando que lo importante es que se crea un fondo por Ley, y que se puede ir aumentando'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '5', 'day': '4', 'year': '2012'}, 'text': { 'headline': 'Analizan financiamiento para concretar proyectos del Calama PLUS', 'text': 'N/I', 'interaccion': { 'tag': 'N/I', 'principal': 'N/I', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '5', 'day': '16', 'year': '2012'}, 'text': { 'headline': 'Asamblea ciudadana define pasos de la marcha del viernes', 'text': 'Asamblea Ciudadana, Alcalde de Calama Esteban Velásquez', 'interaccion': { 'tag': 'Anuncio, Convocatoria ', 'principal': 'Asamblea ciudadana afina últimos detalles de marcha a realizarse el viernes 18 de mayo', 'secundaria': 'Alcalde de Calama invita a la ciudadanía a participar de las movilizaciones que se llevarán a cabo en varias regiones del norte del país.'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '5', 'day': '16', 'year': '2012'}, 'text': { 'headline': 'Mañana a partir de la medianoche contratistas de Codelco se movilizan', 'text': 'Confederación de Trabajadores del Cobre (CTC), Presidente de CUT Calama José Mardones, trabajadores de empresas contratistas y subcontratistas que laboran en principales centros mineros, Presidente CTC Cristian Cuevas, Codelco', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Trabajadores de empresas contratistas y subcontratistas de principales mineras inician marcha el día 17 a la medianoche para denunciar la falta de cumplimiento de acuerdos y derechos por parte de Codelco y la empresa privada', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '5', 'day': '16', 'year': '2012'}, 'text': { 'headline': 'Venta de pasajes será normal durante el paro', 'text': 'Agente de ventas de Tur Bus David Cruz, empresas de buses interurbanos, Funcionaria de Pullman Bus Elizabeth Villabolos, pasajero permanente Claudio Marín', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Empresas de buses interurbanos de la ciudad de Calama operarán con normalidad durante la movilización social del día 17', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '5', 'day': '16', 'year': '2012'}, 'text': { 'headline': 'Trabajadoras de Aramark mantienen huelga indefinida', 'text': 'Empresa Aramark, Empleados Aramark, Presidenta del sindicato de trabajadoras de Aramark Marianela Fredes', 'interaccion': { 'tag': 'Manifestación Social', 'principal': 'Trabajadoras de Aramark se mantienen en huelga en demanda de mejores condiciones laborales', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '5', 'day': '18', 'year': '2012'}, 'text': { 'headline': 'Calama y comunas mineras se movilizan en contra del Fondenor', 'text': 'Alcalde de Calama Esteban Velásquez, Sindicato Minero, Sindicato de Minera Hales, Sindicato de Minera Gaby, transporte colectivo, Diputado Pedro Araya, Diputado Marcos Espinosa, Gremio de Transportistas Escolares, Carabineros, Intendente de Antofagasta Pablo Toloza, Obispo de Calama Guillermo Vera, Gobernador de El Loa Luis Garrido', 'interaccion': { 'tag': 'Manifestación Social', 'principal': 'Calama y comunas mineras manifiestan su rechazo en contra de Fondenor con manifestación y diferentes actividades a desarrollarse en las diversas zonas', 'secundaria': 'Intendente de Antofagasta, Obispo de Calama y Gobernador de El Loa expresan su opinión respecto a las movilizaciones y manifiestan su deseo de que se lleven a cabo de manera pacífica como se ha visto en casos anteriores'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '5', 'day': '19', 'year': '2012'}, 'text': { 'headline': 'Diputados Espinosa y Araya por recursos permanentes para Calama', 'text': 'Diputado Marcos Espinosa, Diputado Pedro Araya, Comunidad Calama', 'interaccion': { 'tag': 'Manifestación Social', 'principal': 'Diputados Pedro Araya y Marcos Espinosa se unen a las manifestaciones para expresar su descontento respecto al proyecto Fondenor', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '5', 'day': '19', 'year': '2012'}, 'text': { 'headline': 'Diputado Felipe Ward: "Me insultaron y me lanzaron huevos"', 'text': 'Diputado Felipe Ward, Comunidad Calama, Alcalde de Calama Esteban Velásquez', 'interaccion': { 'tag': 'Manifestación Social', 'principal': 'Diputado Felipe Ward fue atacado con huevos e insultos durante movilizaciones', 'secundaria': 'Diputado Felipe Ward declaró que el movimiento se está politizando y que este ya no es una movilización que representa a los calameños, por lo que el alcalde de Calama pronto "se quedará solo"'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '5', 'day': '19', 'year': '2012'}, 'text': { 'headline': 'Calama exigirá que se retire el proyecto del Fondenor', 'text': 'Comunidad Calama, Asamblea Ciudadana, Carabineros, Gobernación El Loa, Alcalde de Calama Esteban Velásquez, Integrande de Asamblea ciudadana Jacqueline Echeverría, Diputado Pedro Araya, Diputado Marcos Espinosa, Alcaldesa de Antofagasta Marcela Hernando, Alcaldesa de San Pedro de Atacama Sandra Berna, Alcalde de Taltal Guillermo Hidalgo, Movimiento de Acción Ciudadana de Antofagasta (Maac), integrantes de la CUT, Sindicatos de trabajadores, Estudiantes, Teniente Coroner Jorge Tobar, Gobernador Provincial Luis Garrido, Director provicional de Educación Arnaldo Solari. ', 'interaccion': { 'tag': 'Manifestación Social, Declaración', 'principal': 'Calameños se movilizan en manifestación pacífica en contra de proyecto Fondenor', 'secundaria': 'Integrante de Asamblea Ciudadana expresó que se está considerando llevar la lucha a instancias internacionales para que Calama sea declarada zona extrema'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '5', 'day': '19', 'year': '2012'}, 'text': { 'headline': '"Se debe perseguir a los delincuentes"', 'text': 'Gobernador Provincial Luis Garrido, Comunidad Calama', 'interaccion': { 'tag': 'Declaración', 'principal': 'Gobernación está considerando poner querella criminal contra 12 detenidos de la marcha efectuada el 18 de mayo. Gobernador destaca, sin embargo, la realización pacífica de la movilización', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '7', 'day': '1', 'year': '2012'}, 'text': { 'headline': 'A un año de la revolución ciudadana el movimiento evalúa nuevas estrategias', 'text': 'Miembro de la Asamblea Ciudadana Daniel Ramírez, Miembro de comisión organizadora de la asamblea Norma Araya, Comunidad Calama', 'interaccion': { 'tag': 'Declaración', 'principal': 'Asamblea Ciudadana pretende lograr la paralización de la producción del cobre, sin dañar a Calama, para ser tomados en cuenta. Asimismo, plantean mejorar su estrategia comunicacional para llegar a un mayor público', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '7', 'day': '7', 'year': '2012'}, 'text': { 'headline': 'Ultimátum a gobierno para que entregue fondos permanentes', 'text': 'Movimiento Ciudadano de Calama, Vocero Movimiento Ciudadano Luis Rosas, Ministro Laurence Golborne, Alcalde de Calama Esteban Velásquez, Comunidad Calama, Presidenta de la Asociación de Municipios Sandra Berna ', 'interaccion': { 'tag': 'Interpelación', 'principal': 'Movimiento Ciudadano da ultimátum al gobierno para que entregue fondos permanentes o de lo contrario iniciará la paralización de la producción de cobre', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '7', 'day': '8', 'year': '2012'}, 'text': { 'headline': 'Gladys Gárate asumió como directora ejecutiva de la Comdes', 'text': 'Directora ejecutiva de la Corporación Municipal de Desarrollo Social de Calama (Comdes) Gladys Gárate Castillo, Héctor Peña Campos', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Gladys Gárate será nueva directora ejecutiva de la Comdes', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '7', 'day': '8', 'year': '2012'}, 'text': { 'headline': 'Casa de Calama PLUS será donada a la comunidad', 'text': 'Calama PLUS, Comunidad Calama', 'interaccion': { 'tag': 'Anuncio, Convocatoria', 'principal': 'Calama Plus da comienzo al concurso que determinará quién recibirá la Casa Abierta', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '7', 'day': '27', 'year': '2012'}, 'text': { 'headline': 'Piñera dice que "Calama merece se le otorgue un trato especial"', 'text': 'Presidente Sebastián Piñera, Alcalde de Calama Esteban Velásquez', 'interaccion': { 'tag': 'Anuncio, Socialización', 'principal': 'Pesidente hace un recuento de proyectos realizados y en proceso, enfatizando en que aún queda mucho por hacer. Además, anuncia Fondo de Inversión y Reconversión Regional que entregará 400 millones de dólares a regiones mineras y el Fondenor que entregará 220 millones de dólares para las comunas mineras', 'secundaria': 'Alcalde de Calama se muestra disconforme con lo declarado por el Presidente Piñera'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '7', 'day': '27', 'year': '2012'}, 'text': { 'headline': 'Manifestantes detenidos acusaron fuerzas desmedidas', 'text': 'N/I', 'interaccion': { 'tag': 'N/I', 'principal': 'N/I', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '7', 'day': '27', 'year': '2012'}, 'text': { 'headline': 'Ambicioso proyecto cultural se quedó con la casa de Calama PLUS', 'text': 'ONG Casa Naranja, Calama PLUS, Comunidad Calana, Presidenta ONG Casa Naranja Carla Redlich', 'interaccion': { 'tag': 'Anuncio', 'principal': 'ONG Casa Naranja se adjudicó la casa de las oficinas de Calama Plus, con un ambicioso proyecto cultural enfocado en las poblaciones del sector poniente de Calama y que pretende descentralizar gestión cultural', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '7', 'day': '27', 'year': '2012'}, 'text': { 'headline': 'Calama contará con 42 nuevos paraderos dotados de energía solar', 'text': 'Jefe del departamento de tránsito José Albarracín', 'interaccion': { 'tag': 'Anuncio', 'principal': 'El jefe del departamento de tránsito de Calama anunció que la ciudad se equipará con 42 nuevos paraderos de locomoción colectiva que contarán con paneles solares en el techo', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '8', 'day': '16', 'year': '2012'}, 'text': { 'headline': '"Si no hay recursos seguimos movilizados"', 'text': 'Alcalde de Calama Esteban Velásquez, Intendente Pablo Toloza, Comunidad Calama, Calama PLUS', 'interaccion': { 'tag': 'Declaración', 'principal': 'Alcalde de Calama reconoce que Calama Plus implica ciertos avance, asevera que si no obtienen por ley recursos permanentes, seguirán movilizados.', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '8', 'day': '17', 'year': '2012'}, 'text': { 'headline': 'Redacción de Ley Calama está lista para presentarla a Piñera', 'text': 'Diputado Felipe Ward, Presidente Sebastián Piñera, Alcalde de Calama Esteban Velásquez, Ministro Secretario General de Gobierno Cristián Larroulet', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Diputado Felipe Ward escribe borrador de Ley Calama, la cual traerá beneficios para toda la comunidad y, se espera, sea tramitada de manera especial por el presidente sin pasar por el Congreso', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '8', 'day': '17', 'year': '2012'}, 'text': { 'headline': 'Movimiento ciudadano decide hoy si realizan nuevo paro comunal el 29', 'text': 'Asamblea Ciudadana, Comunidad Calama, Vocero Movimiento Ciudadano Luis Rosas', 'interaccion': { 'tag': 'Convocatoria', 'principal': 'Asamblea Ciudadana convoca a reunión para decidir si se realizará un nuevo paro comunal el día 29 de agosto', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '8', 'day': '17', 'year': '2012'}, 'text': { 'headline': 'Jóvenes quisieron tomarse el LER en apoyo a Asamblea Ciudadana', 'text': 'Estudiantes del Liceo Eleuterio Ramírez de Calama, Asamblea Ciudadana, Carabineros', 'interaccion': { 'tag': 'Manifestación Social', 'principal': 'Jóvenes estudiantes son detenidos por Carabineros luego de intentar tomarse el establecimiento educacional Liceo Eleuterio Ramírez.', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '8', 'day': '18', 'year': '2012'}, 'text': { 'headline': 'Fondos de patentes mineras aumentarían a 400 millones de dólares platas de Fondenor', 'text': 'Subsecretario de Minería Pablo Wagner, Presidente Sebastián Piñera, Ministro Andrés Chadwick, Ministra María Ignacia Benítez, Alcalde Esteban Velásquez, ', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Subseretario de Minería se refirió a patentes mineras y el aumento de los recursos al Fondenor, los cuales llegarían a 423 millones de dólares a repartir en 51 comunas en un palzo de 10 años.', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '8', 'day': '18', 'year': '2012'}, 'text': { 'headline': 'El Tesoro entregó su reporte sustentable', 'text': 'Comunidad de Sierra Gorda, Comunidad de Chunchurri, Comunidad Flor de Alfalfa, Comunidad Verdes Campiñas de Calama, Gobernador Provincia de Antofagasta Constantino Zafirópulos, Minera El Tesoro, Gerente General de El Tesoro', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Minera El Tesoro presentó "Reporte de Sustentabilidad 2011"', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '8', 'day': '19', 'year': '2012'}, 'text': { 'headline': 'Asamblea Ciudadana anuncia marcha a Chiquicamata', 'text': 'Asamblea Ciudadana, Comunidad Calama, Dirigente y representante de Asamblea Luis Rozas, Gobernador Luis Garrido, ', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Asamblea Ciudadana anunció paralización para día 29 de agosto para demostrar su descontento con el Gobierno, a quien acusan de no dar respuesta a las demandas de Calama', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '8', 'day': '19', 'year': '2012'}, 'text': { 'headline': 'Alcalde rechaza que aumento de recursos de Fondenor sea solución para Calama', 'text': 'Subsecretario de Minería Pablo Wagner, Alcalde de Calama Esteban Velásquez, ', 'interaccion': { 'tag': 'Declaración', 'principal': 'Alcalde de Calama agradeció el anuncio del subsecretario, manifestó que la idea es lograr la obtención de recursos permanentes para poder lograr la construcción de una ciudad que pueda sostenerse en el tiempo.', 'secundaria': 'El alcalde señala que se está haciendo un trabajo con otras ciudades con el fin de crear un frente de norte unido.  '}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '8', 'day': '19', 'year': '2012'}, 'text': { 'headline': 'Operativo llegó a vecinos del sector poniente', 'text': 'Municipalidad, Unidad Vecinal Los Balcones, Unidad Vecinal Verde Esperanza, Unidad Vecinal Inti Rai, Presidenta de la Junta Vecinal Inti Rai, Alcalde Esteban Velásquez', 'interaccion': { 'tag': 'Socialización', 'principal': 'Servicios municipales prestaron ayuda y orientación a unidades vecinales Los Balcones, Verde Esperanza e Inti Rai', 'secundaria': 'Presidenta de Junta Vecinal Inti Rai señala necesidades específicas como comunidad, dentro de las cuales se encuentran infraestructura y áreas verdes.'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '8', 'day': '24', 'year': '2012'}, 'text': { 'headline': 'Asamblea anunció organizaciones que se suman al paro comunal ', 'text': 'Comunidad Calama, Alcalde de Calama Esteban Velásquez, Asamblea Ciudadana, Vocero de la Asamblea Ciudadana Luis Rozas, Asociación Nacional de Empleados Fiscales (ANEF Calama), Colegio Médico de Chile (Capítulo Regional El Loa), ferias rotativas, sindicatos de las ferias de las pulgas, Red de Mujeres El Loa, Central Unitaria de Trabajadores (CUT), Sindicatos de Trabajadores 1, 2, 3 y 5 de Codelco Chiquicamata, Sindicato Minero, transporte urbano mayor de pasajeros, Federación Minera de Chile, iglesias católicas y evangélicas, Federación de Estudiantes de Calama, Federación de Estudiantes de la Universidad Católica del Norte, Federación de Estudiantes de Universidad de Antofagasta, Asociación Gremial de Transporte Escolar de Chuquicamata', 'interaccion': { 'tag': 'Auncio', 'principal': 'Asamblea Ciudadana anunció organizaciones que se sumarían al paro programado para el 19 de agosto', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '8', 'day': '24', 'year': '2012'}, 'text': { 'headline': 'Parte la consolidación de las obras priorizadas en la Consulta Pública', 'text': 'Empresas que conforman Consorcio de Calama PLUS, Calama PLUS, Coordinador Gabriel Méndez, División Chiquicamata de Codelco, Codelco, El Abra, Enaex, Comunidad Calama', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Empresas que forman parte del Consorcio de Calama Plus comenzaron asignación de fondos para iniciar estudios de diseño de los 9 proyectos priorizados por la comunidad en la Consulta Pública.', 'secundaria': ''}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '8', 'day': '24', 'year': '2012'}, 'text': { 'headline': 'Intendente espera que no se altere el orden público', 'text': 'Comunidad Calama, Intendente regional Pablo Toloza', 'interaccion': { 'tag': 'Declaración', 'principal': 'Intendente regional comenta su interés en que las manifestaciones se lleven de manera pacífica y permitiéndo que aquellos que lo desean, puedan continuar sus actividades de formal regular.', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '8', 'day': '30', 'year': '2012'}, 'text': { 'headline': 'Unos tres mil manifestantes marcharon rumbo a Chuqui', 'text': 'Comunidad Calama, Movimiento Ciudadano, Carabineros, organizaciones sociales, dirigentes sindicales de Codelco, agrupaciones estudiantiles, agrupaciones deportivas, indígenas, familias, Alcalde de Calama Esteban Velásquez, Vocera del Movimiento Jacqueline Echeverría, Miembro de la asamblea Darío Quiroga, Presidente Comunal de la CUT José Mardones, Colegio de Periodistas, Gobernador Luis Garrido, Comandante de Carabineros Luis Amaya, Vicenpresidente de la Confederación de Trabajadores del Cobre y director de la CUT Jedry Velis, ', 'interaccion': { 'tag': 'Manifestación Social', 'principal': 'Movimiento Ciudadano realiza una evaluación positiva de las manifestaciones, a pesar de los incidentes y detenciones ocurridas. Se estima que concurrieron alrededor de tres mil manifestantes. ', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '12', 'day': '13', 'year': '2012'}, 'text': { 'headline': 'Crece molestia por falta de recursos para Calama PLUS', 'text': 'Alcalde de Calama Esteban Velásquez, Diputado Marcos Espinosa, Gerente de Calama PLUS José Robles, Cámara Chilena de la Construcción de Calama, Vocero de Asamblea Ciudadana Luis Rozas, Gobernador Luis Garrido, Autoridad provincial subrogante María Isabel Fernández, Intendente Pablo Toloza, Diputado Felipe Ward, Gobierno, Presidente Sebastián Piñera', 'interaccion': { 'tag': 'Declaración', 'principal': 'Alcalde esteban Velásquez expresó descontento por falta de recursos para proyectos de Calama Plus y aclara que el Gobierno aún no ha comprometido recursos y que estos no deberían salir de los fondos regionales.', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '12', 'day': '18', 'year': '2012'}, 'text': { 'headline': 'Quiebre en Calama PLUS: consejo consultivo apela a fondos del cobre', 'text': 'Consejo Consultivo, Alcalde de Calama Esteban Velásquez, Intendente Pablo Toloza, Director Ejecutivo de Calam PLUS José Robles, Presidente Sebastián Piñera, Vocera Jacqueline Echeverría, Integrantes del Consejo Regional, Comunidad Calama, Instituto Nacional del Deporte', 'interaccion': { 'tag': 'Declaración', 'principal': 'Consejo Consultivo declara que proyectos de Calama Plus deberían ser financiados por recursos del Cobre y no con el Fondo Nacional de Desarrollo Regional', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '3', 'day': '9', 'year': '2014'}, 'text': { 'headline': 'Asamblea pedirá solución inmediata al nuevo gobierno', 'text': 'Gobierno, Presidenta Michelle Bachelet, Movimiento Ciudadano, Vocera Movimiento Ciudadano Jacqueline Echeverría, Asamblea Ciudadana, Vocero Asamblea Ciudadana René Carvajal, Gobierno de Sebastián Piñera, Presidente Sebastián Piñera, EstadoConsejo Regional', 'interaccion': { 'tag': 'Convocatoria, Declaración', 'principal': 'Movimiento Ciudadano llama a movilizaciones el 10 de marzo para hacer un llamado de atención al nuevo gobierno de la Presidenta Michelle Bachelet.', 'secundaria': 'Vocera del Movimiento Ciudadano declara que el Estado no tuvo voluntad con la ciudad de Calama'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '3', 'day': '10', 'year': '2014'}, 'text': { 'headline': 'Campaña invita a pintar y remodelar fachadas de viviendas y negocios', 'text': 'Municipaldad de Calama, Dirección de Inspección, Director de inspección municipal Alberto Vásquez', 'interaccion': { 'tag': 'Convocatoria', 'principal': 'Ordenanza municipal exijirá a propietarios a mantener en buen estado sus frontis. Dicha ordenanza forma parte de una campaña que busca hermosear la ciudad ', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '3', 'day': '10', 'year': '2014'}, 'text': { 'headline': 'Calameños se manifiestan 12 horas por promesas sin cumplir', 'text': 'Comunidad Calama, Movimiento Ciudadano, Concejal PC Darío Quiroga, Presidenta Red de Mujeres de Calama María Robles', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Calameños realizarán manifestación para exigir a las nuevas autoridades el cumplimiento de compromisos que se mantienen con la ciudad', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '3', 'day': '10', 'year': '2014'}, 'text': { 'headline': 'Anuncios y promesas presidenciales', 'text': 'Subsecretario del Interior del Gobierno de Michelle Bachelet Patricio Rosende, Presidente Sebastián Piñera, Presidenta Michelle Bachelet', 'interaccion': { 'tag': 'Declaración', 'principal': 'Editorial cuestiona la voluntad de presidentes Michelle Bachelet y Sebastián Piñera para cumplir con promesas a los calameños ', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '3', 'day': '11', 'year': '2014'}, 'text': { 'headline': 'Futuro gobierno revisará los últimos proyectos de Piñera', 'text': 'Ministro de Haciendo Alberto Arenas, Gobierno, Presidente Sebastián Piñera, Legisladores de la Nueva Mayoría, Presidenta Michelle Bachelet', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Futuro Ministro de Hacienda anuncia que Gobierno revisará proyectos de ley enviados al Parlamento por Presidente Sebastián Piñera', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '3', 'day': '12', 'year': '2014'}, 'text': { 'headline': 'Diputados por el tercer distrito asumen desafíos en salud y vivienda', 'text': 'Diputado Felipe Ward, Diputado Marcos Espinosa', 'interaccion': { 'tag': 'Anuncio, Declaración', 'principal': 'Diputados Felipe Ward y Marcos Espinosa asumieron un nuevo periodo como parlamentarios de la zona y se comprometieron a trabajar en las demandas de la provincia', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '3', 'day': '12', 'year': '2014'}, 'text': { 'headline': 'Movimiento Ciudadano pide a las nuevas autoridades resolver demandas de Calama', 'text': 'Comunidad Calama, Movimiento Ciudadano, Vocera Movimiento Ciudadano Jacqueline Echeverría, Vocero Movimiento Ciudadano René Carvajal', 'interaccion': { 'tag': 'Interpelación', 'principal': 'Voceros de Movimiento Ciudadano manifiestan que nuevas autoridades deben estar informadas de las necesidades de al zona y esperarán 100 días para que el nuevo Gobierno cumpla con los compromisos pactados', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '3', 'day': '13', 'year': '2014'}, 'text': { 'headline': '90 días tendrá la Presidenta Bachelet para responder a las demandas loínas', 'text': 'Alcalde de Calama Esteban Velásquez, Presidenta Michelle Bachelet, Ministra de Vivienda y Urbanismo Paula Sabal, Ministro de Justicia José Antonio Gómez, Ministra de Salud Helia Molina, Senador Pedro Araya, Senador Alejandro Guillier, Comunidad Calama', 'interaccion': { 'tag': 'Interpelación', 'principal': 'Alcalde de Calama otorga a la Presidenta 90 días para que entregue soluciones concretas a las demandas, de lo contrario, declara que la comuna se manifestará en las calles ', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '3', 'day': '20', 'year': '2014'}, 'text': { 'headline': 'Inician plantación de 19 árboles del parque Periurbano en la Tucnar Huasi', 'text': 'Presidente junta de vecinos Conjunto Habitacional Tucnar Huasi Leonardo Latorre, Gerente General División Ministro Hales, Alcalde de Calama Esteban Velásquez, Paisajista Yolanda Cabrera, Red de Mujeres, Presidenta de Red de Mujeres María Robles, ', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Gerente general de División Ministro Hales anuncia plantación de árboles como nuevo hito en la construcción del Parque Periurbano', 'secundaria': 'Red de Mujeres propone trabajo en conjunto para mantención del parque'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '3', 'day': '20', 'year': '2014'}, 'text': { 'headline': 'División Ministro Hales estabiliza sus plantas y sería inaugurada en mayo', 'text': 'Presidenta Michelle Bachelet, Codelco, Gerente general división Ministro Hales Claudio Olguín', 'interaccion': { 'tag': 'Anuncio', 'principal': 'División Ministro Hales, primer proyecto estructural de Codelco, podría ser inaugurada en mayo ', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '1', 'year': '2014'}, 'text': { 'headline': 'Calama se queda sin espacios para preservar áreas verdes', 'text': 'Alcalde de Calama Esteban Velásquez, Agricultor de la zona Rubén Bustamante, Aguas Antofagasta, Arquitecto Administrador Municipal Eliecer Chamorro', 'interaccion': { 'tag': 'Declaración', 'principal': 'Alcalde de Calama muestra preocupación por avance de construcciones en la ciudad que ocupan lugares que pudiesen haber sido utilizados para zonas verdes', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '1', 'year': '2014'}, 'text': { 'headline': 'Alcalde destaca acción de las regiones por la descentralización', 'text': 'Alcalde de Calama Esteban Velásquez, Senador Alejandro Guillier, Comunidad Calama', 'interaccion': { 'tag': 'Declaración', 'principal': 'Alcalde de Calama declara que la demanda hoy en día de las regiones hoy en día es la verdadera descentralización y que Calama exige un nuevo trato para sus ciudadanos', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '9', 'year': '2014'}, 'text': { 'headline': 'En agosto comenzarán obras de accesibilidad para El Peuco Maratón', 'text': 'Junta Vecinal Lagunas Andinas, Codelco, Presidente Junta Vecinal Lagunas Andinas Carlos Valdebenito, Consultora IN3, El Peuco 1, Secretaría de Planificación de Transporte (Sectra), Ingeniero Civil de Consultora a cargo Erick Bracamonte ', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Codelco planteó soluciones de accesiblidad a ciudad y otras poblaciones a residente de El Peuco Maratón', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '9', 'year': '2014'}, 'text': { 'headline': 'Urbanistas de Harvard vienen a conocer los planes de Calama', 'text': 'Expertos de la Universidad de Harvard, Director Ejecutivo de Calama PLUS Rodolfo Reygada', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Expertos de la universidad de Harvard visitarán Calama para evaluar su funcionamiento y las acciones que se están haciendo en cuanto a su plan de desarrollo. Asimismo se verá cómo es el plan de Calama Plus y cómo se trabaja, esto enmarcado en la búsqueda de la Universidad de un centro de investigación.', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '10', 'year': '2014'}, 'text': { 'headline': 'Feriantes ilegales exigen al alcalde un lugar para ellos ', 'text': 'Feriantes ilegales, Municipalidad de Calama, Alcalde de Calama Esteban Velásquez, Vocera de comerciantes ambulantes de feria rotativa Silvia González, Carabineros, Inspectores municipales', 'interaccion': { 'tag': 'Interpelación', 'principal': 'Feriantes ilegales demandan al alcalde que regularicen su situación y les den un espacio para ejercer su labor', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '10', 'year': '2014'}, 'text': { 'headline': 'Los avances de Calama PLUS a dos años de la Consulta Ciudadana', 'text': 'Director Ejecutivo de Calama PLUS Rodolfo Reygada, Comunidad Calama, Alcalde de Calama Esteban Velásquez, Intendente Valentín Volta, Vocera de Movimiento Ciudadano y Parte del Concejo Consultivo de Calama PLUS Jacqueline Echeverría, Gobernador Claudio Lagos', 'interaccion': { 'tag': 'Socialización', 'principal': 'Director Ejecutivo de Calama Plus comenta respecto a los proyectos priorizados, dos de ellos comienzan sus construcciones este año: la construcción del Colegio Don Bosco y el Museo Minero', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '14', 'year': '2014'}, 'text': { 'headline': 'Loínos tendrán colectores solares gracias a subsidio', 'text': 'Ministerio de Vivienda y Urbanismo, Presidenta de junta de vecinos Inti Ray Maritza López, Seremi Vivienda y Urbanismo Mauricio Zamorano, SERVIU, Directora del SERVIU Isabel de la Vega', 'interaccion': { 'tag': 'Anuncio', 'principal': '107 familia loínas reciben subsidio que les permitirá comprar colectores solares', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '15', 'year': '2014'}, 'text': { 'headline': 'Calama PLUS dio a conocer avance de sus proyectos priorizados', 'text': 'Director Ejecutivo de Calama PLUS Rodolfo Reygada, Secretaria del Concejo Consultivo de Calama PLUS Ada Ramírez', 'interaccion': { 'tag': 'Socialización', 'principal': 'Director Ejecutivo de Calama Plus dio cuenta del estado de avance de los proyectos priorizados por los calameños.', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '21', 'year': '2014'}, 'text': { 'headline': 'FTC responderá con paro nacional si no hay capitalización en 100 días', 'text': 'Federación de Trabajadores del Cobre (FTC), Dirigente FTC Raimundo Espinoza, Codelco, Gobierno, Presidente Ejecutivo Codelco Thomas Keller, Ministro de Hacienda Alberto Arenas, Ministra de Minería Aurora Williams, Dirigente del Sindicato tres de Chuquicamata Miguel López, Presidente del sindicato de Radomiro Tomic Erick Condori ', 'interaccion': { 'tag': 'Interpelación', 'principal': 'Federación de Trabajadores del Cobre fija un plazo de 100 días para que el Gobierno resuelva la manera en que financiará la capitalización de Codelco', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '21', 'year': '2014'}, 'text': { 'headline': 'Empresarios calameños se asesoran para llegar a las grandes mineras', 'text': 'Guillermo Bronstein, Gerente de Tiger y presidente de la Asociación Gremial de Industriales de Calama Fernando Reyes, Miembros de AGIC, Miembros de la Cámara Chilena de la Construcción sede Calama, pequeñas y medianas empresas calameñas, empresarios calameños', 'interaccion': { 'tag': 'Socialización', 'principal': 'Empresarios calameños asisten a jornada de asesoramiento que entregó conocimiento que permitiría mejorar estándares de calidad de pequeñas y medianas empresas. ', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '25', 'year': '2014'}, 'text': { 'headline': 'Expertos de Harvard apoyarán en convertir a Calama en sustentable', 'text': 'Profesionales y académicos Universidad de Harvard, Profesionales y académicos Universidad del Desarrollo, Profesionales y académicos Universidad Adolfo Ibáñez, Director Ejecutivo Calama PLUS Rodolfo Reygada, Dr. Rahul Mehrotra Chair of department of Urban Planning and Design at the Harvard University Graduate School of Design, Director del Centro de Inteligencia Territorial de la Universidad Adolfo Ibáñez Dr. Luis Valenzuela, Director del Centro de Ecología y Urbanización de la Universidad Adolfo Ibáñez Felipe Vera, Decano de Diseño Urbano Universidad del Desarrollo Pablo Allard, Director del Museo de Historia Natural y Cultural del Desierto de Atacama Osvaldo Rojas,  ', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Profesionales y académicos de las universidades de Harvard, Del Desarrollo y Adolfo Ibáñez elaborarán un plan para un estudio colaborativo de Calama y para la implementación de Calama Plus con el objetivo de llevar hacia una Ciudad Moderna y Sustentable.', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '9', 'day': '26', 'year': '2014'}, 'text': { 'headline': 'Siguen manifestaciones en contra del royalty minero', 'text': 'Comunidad Calama, Gobierno, Calama Levántate, Municipio, Organizaciones sociales', 'interaccion': { 'tag': 'Manifestación Social', 'principal': 'Comunidad calameña sigue movilizada para manifestar su descontento en contra del proyecto de Ley del royalty', 'secundaria': 'Calama Levántate busca ejercer presión para obtener recursos para la zona'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '6', 'year': '2015'}, 'text': { 'headline': 'Profesionales llegan a Ollagüe para trabajar con familias vulnerables ', 'text': 'Programa Servicio País, Ingeniera en Turismo Priscila Vergara, Trabajadora Social Yesenia Castillo, Arquitecto Raúl Araya, Concejo Municipal, Alcalde de la comuna Carlos Reygadas, Municipalidad de Ollagüe', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Profesionales del programa Servicio País llegan a Ollagüe para trabajar con familias vunerables de la zona', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '6', 'year': '2015'}, 'text': { 'headline': '"Hay que pensar más allá de coyunturas políticas y actuar como una sola ciudad"', 'text': 'Director Ejecutivo Calama PLUS Rodolfo Reygada, Comunidad Calama, Consorcio Calama PLUS ', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Director Ejecutivo de Calama PLUS explica el estado de avance del plan, la dificultades de responder a las demandas de la ciudadanía y su visión del futuro de Calama', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '4', 'day': '6', 'year': '2015'}, 'text': { 'headline': 'Ampliarán Oficina de Emergencia de Ollagüe con ayuda de la minería', 'text': 'Concejo Municipal de Ollagüe, Alcalde de la comuna Carlos Reygadas ', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Concejo Municipal de Ollagüe aprobó proyecto de ampliación de Oficina de Emergencia de Ollagüe, la cual pasará de ser de 61 metros cuadrados a 119 metros cuadrados.', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '5', 'day': '8', 'year': '2015'}, 'text': { 'headline': 'Entregaron oficialmente a la comunidad Parque Ganaderos', 'text': 'Alcalde de Calama Esteban Velásquez, SERVIU, Ministerio de Vivienda y Urbanismo, Municipalidad de Calama, Comunidad Calama, Presidenta de Junta de Vecinos Jacqueline Echeverría, Miembros Villa Ayquina', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Parque Granaderos es entregado a la comunidad luego de dos años de construcción', 'secundaria': 'N/I'}}},
{'media': {'url': '', 'caption': '', 'credit': ''}, 'start_date': {'month': '5', 'day': '8', 'year': '2015'}, 'text': { 'headline': 'Inauguran y entregan oficialmente el parque Granaderos', 'text': 'SERVIU, Presidenta de Junta de Vecinos Jacqueline Echeverría, Alcalde de Calama Esteban Velásquez, Delegado provincial del SERVIU Marcelo Gajardo, Comunidad Calama, Miembros Villa Ayquina, Municipalidad de Calama', 'interaccion': { 'tag': 'Anuncio', 'principal': 'Parque Granaderos es entregado a la comunidad luego de dos años de construcción', 'secundaria': 'Delegado provincial del SERVIU comentó que el Municipio y el ministerio ya están trabajando en otros ejes de la ciudad como lo es el eje Balmaceda'}}}
    ]
};

var options = {
  timenav_height_percentage:60,
  marker_height_min:25,
  scale_factor:12,
  timenav_position:'top'
};

// window.timeline = new TL.Timeline('timeline-embed', timeline_json, options);
window.timeline = new TL.Timeline('timeline-embed', plus_json, options);
</script>