body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cover-container {
	width: 100%;
	height: 100%;
}

.cover-logo-cont img {
	margin: auto;
	display: block;
}

.cover-body {
	text-align: center;
  	max-width: 160px;
  	margin: auto;
  	font-family: 'Alegreya Sans';
  	font-weight: 300;
  	line-height: 1.3;
  	word-spacing: 2px;
}

.cover-text {
	margin-top: 30px;
}

.cover-arrow {
	text-align: center;
	margin-top: 40px;
}

.cover-center {
	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	width: 400px;
  	height: 310px;
}