@font-face {
  font-family: "Apercu Regular";
  src: url("../fonts/Apercu/apercupro-regular/apercu_regular_pro.otf") format("opentype");
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  background-color: #040019;
  overflow-x: hidden; 
  overflow-y: hidden; 
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -khtml-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

a {
  color: #00B7FF;
}

canvas {
  position: absolute;
  /*opacity: 0.3;*/
}

canvas.init {
  opacity: 0.3;
  z-index: -9999;
}

svg {
  width: 100%;
  height: 100%;
}

/*line {
   animation: dash 400s linear;
}

@keyframes dash {
  to {
    stroke-dashoffset: 10000;
  }
}*/

.svg-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}

.hidden {
  display: none;
}

#main-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin-left: -3%;
  margin-top: -1%;
}

.over-content {
  position: absolute;
}

.question-img {
  width: 40px;
}

.over-content.question, .over-content.about {
  cursor: pointer;
}

.question-img {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
          transition:         transform 0.5s ease-in-out;
}

.over-content.question:hover .question-img{
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}

.answer-img {
  width: 30px;
}

.extra-img {
  width: 17px;
}

.volume-img {
  width: 290px;
}

.about-img {
  width: 75px;
}

.about-title {
  margin: 0;
  color: white;
  font-size: 11px;
  font-family: "Apercu Regular";
  width: 105px;
}

.over-content.about-container {
  position: relative;
  z-index: 1010;
}

.over-content.about-container:hover {
  opacity: 0.9;
}

.tooltip-layer, .points-layer {
  width: 100%;
  height: 100%;
}

.over-content.tooltip {
    color: white;
    max-width: 200px;
    font-size: 11px;
    padding: 15px;
}

.over-content.tooltip.tt-answer {
    font-size: 9px;
    background-color: rgba(5,0,25,0.4);
    border: 1px solid #fff;
    padding: 9px;
    cursor: pointer;
}

.over-content.tooltip.tt-answer:hover {
    background-color: rgba(5,0,25,0.7);
    color: rgba(0,255,150,0.7);
    border-color: rgba(0,255,150,0.7);
}

.over-content.tooltip p{
  margin: 3;
  line-height: 1.4;
}

.over-content.tooltip .tt-title {
  font-weight: bold;
}

.tt-main-container {
  font-family: "Apercu Regular";
}

.arrowbox-left {
  background: rgba(5,0,25,0.4);
  border: 2px solid #fff;
}
.arrowbox-left:after, .arrowbox-left:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrowbox-left:after {
  border-color: rgba(5,0,25,0);
  border-right-color: #040019;
  border-width: 57px;
  margin-top: -57px;
}
.arrowbox-left:before {
  border-color: rgba(255,255,255,0);
  border-right-color: #fff;
  border-width: 60px;
  margin-top: -60px;
}

.arrowbox-right {
  background: rgba(5,0,25,0.4);
  border: 2px solid #fff;
}
.arrowbox-right:after, .arrowbox-right:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrowbox-right:after {
  border-color: rgba(4, 0, 25, 0);
  border-left-color: #040019;
  border-width: 57px;
  margin-top: -57px;
}
.arrowbox-right:before {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 60px;
  margin-top: -60px;
}

.video-modal {
  display: none;
  position: absolute;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 0px;
  margin: 340px 650px;
  background-color: rgba(5,0,25,0.9);
  padding: 80px;
}

iframe {
  width: 100% !important;
  height: 100% !important;
}

.points-layer {
  position: absolute;
}

.cover-img {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.cover-img img {
  width: 49%;
  margin: auto;
  display: block;
}

.title-container {
  width: 500px;
  background-color: #050096;
  margin: auto;
  position: relative;
  left: -50%;
  padding: 27px;
  margin-bottom: 35px;
  font-family: "Apercu Regular";
}

.title-container p {
  text-align: center;
}

.cover-container {
  position: absolute;
  left: 50%;
  color: white;
  margin-top: 85px;
}

.cover-legend {
  position: relative;
  left: -50%;
  width: 262px;
  margin: auto;
  padding: 15px;
  border: 1px dotted white;
  font-family: "Apercu Regular";
}

.cover-text {
  width: 70%;
  display: inline-block;
}

.cover-text p {
  margin: 8px;
  font-size: 12px;
}

.cover-text p:first-child, .cover-text p:nth-child(2) {
  margin-bottom: 18px;
}

.cover-img-container {
  display: inline-block;
  width: 28%;
  vertical-align: top;
}

.cover-img.audifono {
  margin-top: 5px;
}

.cover-img.reloj {
  margin-top: 5px;
}

.cover-img.reloj img {
  width: 58%;
}

.cover-img.flecha {
  margin-top: -5px;
}

.cover-img.flecha img {
  width: 55%;
}

.cover-title-b {
  font-size: 28px;
  margin: 0;
  margin-bottom: 9px;
  letter-spacing: 5;
}

.cover-title-s {
  font-size: 12px;
  margin: 0;
  letter-spacing: 1;
}

#slider-vertical {
  position: absolute;
  right: 7%;
  top: 10%;
  z-index: 1000;
}

.ui-widget-content {
  background-color: transparent !important;
}

.ui-widget-header {
  background-color: transparent !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background-color: transparent !important;
  border: 2px solid #c5c5c5 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 2px solid #c5c5c5 !important;
}

.ui-slider-vertical {
  width: 0.4em !important;
}

.ui-slider-vertical .ui-slider-handle {
  left: -.6em !important;
}

.mask {
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: rgba(5,0,25,0.2);
  position: absolute;
}

.init-form-container{
  position: absolute;
  left: 50%;
  z-index: 999;
}

.init-form {
  position: relative;
  left: -50%;
  width: 335px;
  background-color: rgba(5,0,25,0.5);
  margin-top: 40%;
  color: white;
  padding: 30px 40px 30px 40px;
  font-family: "Apercu Regular";
  border: 1px dotted white;
  font-size: 11px;
}

#country-select {
  padding: 5px;
  color: #fff;
  font-size: 12px;
  background-color: transparent;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  font-family: "Apercu Regular";
  width: 154px;
}

#country-select option {
  background-color: rgb(5,0,25);
  font-family: "Apercu Regular";
}

#city-input {
  background-color: transparent;
  color: white;
  font-family: "Apercu Regular";
  font-size: 12px;
  padding: 3px;
  border-width: 1px;
}

.form-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
}

.left-age {
  margin-bottom: 15px;
}

.form-left, .form-right {
  width: 49%;
  display: inline-block;
}

.form-right {
  vertical-align: top;
}

.btn-ok {
  position: absolute;
  bottom: 30px;
  right: 40px;
  background-color: transparent;
  color: white;
  font-family: "Apercu Regular";
  border: 1px dotted white;
  padding: 7px;
  cursor: pointer;
  font-size: 12px;
}

.btn-ok:hover {
  opacity: 0.8;
}

.about-main-container {
  width: 100%;
  height: 100%;
  background-color: rgb(5,0,25);
  z-index: 1009;
  position: absolute;
  color: white;
  font-family: "Apercu Regular";
}

.about-inner-container {
  padding: 80px 80px 95px 80px;
  width: 88%;
  height: 74%;
}

.about-left, .about-right {
  display: inline-block;
  width: 49%;
}

.about-left {
  vertical-align: top;
}

.about-left p{
  padding: 0px 80px 0px 60px;
  font-size: 12px;
  text-align: justify;
  line-height: 1.5;
}

p.about-content-t {
  margin-top: 35px;
  font-weight: bold;
  letter-spacing: 1;
}

.about-title-container{
  width: 45%;
  margin-bottom: 35px;
}

.about-title-container p {
  margin: 0;
  padding: 27px;
  background-color: #050096;
  font-size: 22px;
  letter-spacing: 5;
  text-align: center;
}

.about-title-container p b, .about-content-p b, .cover-title-b b {
  font-weight: normal;
  text-decoration: underline;
}

.about-right {
  font-size: 12px;
  margin-top: 12px;
}

.about-right span {
  margin-top: 12px;
  margin-bottom: 3px;
}

.about-textarea {
  margin-top: 5px;
  background-color: transparent;
  color: white;
      border: 1px dotted;
}

.about-links {
  list-style: none;
}

.about-links li {
  margin-top: 5px;
}

.about-links li a {
  color: white;
}

input[name='explain'] {
  margin-top: 6px;
}

ul.credits-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style: none;
  padding: 0;
  margin: 0;
}

.credits-item p {
  margin: 0;
}

.credits-item {
  margin-bottom: 20px
}

.credits-item-t.right, .credits-item-c.right {
  padding-left: 0;
}

.credits-item-t {
  letter-spacing: 0.6;
}

p.credits-item-c {
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 0.4;
}

#input-email {
  background-color: transparent;
  color: white;
  font-family: "Apercu Regular";
  font-size: 10px;
  padding: 3px;
  border-width: 1px;
  border-color: white;
  margin-right: 10px;
}

.btn-send {
  background-color: transparent;
  color: white;
  font-family: "Apercu Regular";
  border: 1px solid white;
  padding: 3px 7px;
  cursor: pointer;
  font-size: 10px;
}

.about-email {
  margin-bottom: 20px;
}

.about-flash, .about-wrong {
  display: inline-block;
  font-size: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.about-wrong {
  margin-left: 5px;
}


/* Intro */
.brain-container {
  position: absolute;
  left: 40px;
  bottom: -65px;
}

.brain-container img {
  width: 350px;
}

.brain-absolute {
  position: absolute;
  bottom: 280px;
  left: 50px;
}

.brain-absolute img {
  width: 335px;
  position: absolute;
}

/*.img-brain-white, .img-brain-outline {
  z-index: 997;
}

.img-brain-color {
  z-index: 998;
}*/

#first-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 995;
}