@font-face {
  font-family: "Apercu Regular";
  src: url("../fonts/Apercu/apercupro-regular/apercu_regular_pro.otf") format("opentype");
}
@font-face {
  font-family: "Apercu Medium";
  src: url("../fonts/Apercu/apercupro-medium/apercu_medium_pro.otf") format("opentype");
}
@font-face {
  font-family: "Apercu Mono";
  src: url("../fonts/Apercu/apercupro-mono/apercu_mono_pro.otf") format("opentype");
}
@font-face {
  font-family: "Apercu Light";
  src: url("../fonts/Apercu/apercupro-light/apercu_light_pro.otf") format("opentype");
}
@font-face {
  font-family: "Apercu Bold";
  src: url("../fonts/Apercu/apercupro-bold/apercu_bold_pro.otf") format("opentype");
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  background-color: #040019;
  overflow-x: hidden; 
  overflow-y: hidden; 
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -khtml-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

a {
  color: #00B7FF;
}

canvas {
  position: absolute;
  /*opacity: 0.3;*/
}

video {
  z-index: -9999;
}

canvas.second-wave {
  z-index: -9999;
  opacity: 0.3;
}

.wave-container {
  z-index: -9999;
}

.canvas-mask {
  width: 100%;
  height: 110%;
  z-index: -9998;
  background-color: #040019;
  position: absolute;
}

.canvas-mask-net {
  width: 100%;
  height: 110%;
  z-index: -9998;
  background-color: rgba(4,0,25,0.1);
  position: absolute;
}

svg {
  width: 100%;
  height: 100%;
}

/*line {
   animation: dash 400s linear;
}

@keyframes dash {
  to {
    stroke-dashoffset: 10000;
  }
}*/

.svg-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -998;
}

.hidden {
  display: none;
}

#main-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin-left: -3%;
  margin-top: -1%;
}

.over-content {
  position: absolute;
}

.question-img {
  width: 50px;
}

.over-content.question, .over-content.about {
  cursor: pointer;
}

.question-img {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
          transition:         transform 0.5s ease-in-out;
}

.over-content.question:hover .question-img{
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}

.answer-img {
  width: 40px;
}

.extra-img {
  width: 24px;
}

.ext-img {
  width: 22px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
          transition:         transform 0.5s ease-in-out;
}

.ext-img:hover {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}

.volume-img {
  width: 290px;
}

.about-img {
  width: 75px;
}

.about-title {
  margin: 0;
  color: white;
  font-size: 11px;
  font-family: "Apercu Regular";
  width: 110px;
}

.over-content.about-container {
  position: relative;
  z-index: 1023;
}

.over-content.about-container:hover {
  opacity: 0.9;
}

.tooltip-layer, .points-layer {
  width: 100%;
  height: 100%;
}

.over-content.tooltip {
    color: white;
    max-width: 210px;
    font-size: 11px;
    padding: 15px;
}

.over-content.tooltip.tt-answer {
    font-size: 11px;
    background-color: rgba(5,0,25,0.9);
    border: 1px solid #fff;
    padding: 9px;
    cursor: pointer;
}

.over-content.tooltip.tt-answer:hover {
    background-color: rgba(5,0,25,0.9);
    color: rgba(0,255,150,0.9);
    border-color: rgba(0,255,150,0.9);
}

.over-content.tooltip p{
  margin: 3;
  line-height: 1.4;
  font-family: "Apercu Light";
}

.over-content.tooltip .tt-title {
  /*font-weight: bold;*/
  font-family: "Apercu Regular";
}

.tt-main-container {
  font-family: "Apercu Regular";
}

.arrowbox-left {
  background: rgba(5,0,25,0.9);
  border: 2px solid #fff;
}
.arrowbox-left:after, .arrowbox-left:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrowbox-left:after {
  border-color: rgba(5,0,25,0);
  border-right-color: #040019;
  border-width: 57px;
  margin-top: -57px;
}
.arrowbox-left:before {
  border-color: rgba(255,255,255,0);
  border-right-color: #fff;
  border-width: 60px;
  margin-top: -60px;
}

.arrowbox-right {
  background: rgba(5,0,25,0.9);
  border: 2px solid #fff;
}
.arrowbox-right:after, .arrowbox-right:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrowbox-right:after {
  border-color: rgba(4, 0, 25, 0);
  border-left-color: #040019;
  border-width: 57px;
  margin-top: -57px;
}
.arrowbox-right:before {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 60px;
  margin-top: -60px;
}

.video-modal {
  display: none;
  position: absolute;
  z-index: 1024;
  top: 0;
  left: 0;
  width: 0px;
  margin: 340px 650px;
  background-color: rgba(5,0,25,0.9);
  padding: 80px;
}

iframe {
  width: 100% !important;
  height: 100% !important;
}

.points-layer {
  position: absolute;
  z-index: -9999;
}

.cover-img {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.cover-img img {
  width: 49%;
  margin: auto;
  display: block;
}

.title-container {

}

.title-container p {
  text-align: center;
}

.main-cover-container {
  position: absolute;
  left: 49%;
  color: white;
  margin-top: 22%;
  text-align: center;
  z-index: 1020;
}

.cover-container {
  background-color: #050096;
  margin: auto;
  position: relative;
  left: -50%;
  padding: 10px 20px;
  font-family: "Apercu Regular";
  display: inline-block;
}

.cover-container.cover-msg {
  background-color: transparent;
  padding-top: 30px;
}

.cover-next-msg {
  width: 205px;
}

.cover-next-s {
  font-size: 12px;
  text-align: left;
  width: 100%;
  /*display: inline-block;*/
  line-height: 1.5;
}

.cover-inline-img {
  width: 15%;
  display: inline-block;
}

.cover-inline-img:hover {
  opacity: 0.7;
}

.cover-inline-img img {
  cursor: pointer;
}

.cover-legend {
  position: relative;
  left: -50%;
  width: 262px;
  margin: auto;
  padding: 15px;
  border: 1px dotted white;
  font-family: "Apercu Regular";
}

.cover-text {
  width: 70%;
  display: inline-block;
}

.cover-text p {
  margin: 8px;
  font-size: 12px;
}

.cover-text p:first-child, .cover-text p:nth-child(2) {
  margin-bottom: 18px;
}

.cover-img-container {
  display: inline-block;
  width: 28%;
  vertical-align: top;
}

.cover-img.audifono {
  margin-top: 5px;
}

.cover-img.reloj {
  margin-top: 5px;
}

.cover-img.reloj img {
  width: 58%;
}

.cover-img.flecha {
  margin-top: -5px;
}

.cover-img.flecha img {
  width: 55%;
}

.cover-title-b {
  font-size: 20px;
  margin: 0;
  letter-spacing: 3;
  font-family: "Apercu Medium";
}

.cover-title-s {
  font-size: 11px;
  margin: 0;
  letter-spacing: 0;
  font-family: "Apercu Mono";
}

.cover-title-i {
  font-size: 15px;
  margin: 0;
  letter-spacing: 1;
  font-family: "Apercu Light";
}

.cover-container.cover-intro {
  padding: 5px 10px;
}

#slider-vertical {
  position: absolute;
  right: 7%;
  top: 10%;
  z-index: 1000;
}

.ui-widget-content {
  background-color: transparent !important;
}

.ui-widget-header {
  background-color: transparent !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background-color: transparent !important;
  border: 2px solid #c5c5c5 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 2px solid #c5c5c5 !important;
}

.ui-slider-vertical {
  width: 0.4em !important;
}

.ui-slider-vertical .ui-slider-handle {
  left: -.6em !important;
}

.mask {
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: rgba(5,0,25,0.2);
  position: absolute;
}

.init-form-container{
  position: absolute;
  left: 50%;
  z-index: 999;
}

.form-about-left-fix {
  color: white;
  padding: 5px 80px 30px 60px;
  font-family: "Apercu Regular";
  font-size: 11px;
}

.form-about-left-fix span {
  font-weight: bold;
}

.init-form {
  position: relative;
  left: -50%;
  width: 335px;
  background-color: rgba(5,0,25,0.5);
  margin-top: 40%;
  color: white;
  padding: 30px 40px 30px 40px;
  font-family: "Apercu Regular";
  border: 1px dotted white;
  font-size: 11px;
}

#country-select {
  padding: 5px;
  color: #fff;
  font-size: 11px;
  background-color: transparent;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  font-family: "Apercu Regular";
  width: 154px;
  margin-left: 10px;
  margin-top: 4px;
}

#country-select option {
  background-color: rgb(5,0,25);
  font-family: "Apercu Regular";
}

#city-input {
  background-color: transparent;
  color: white;
  font-family: "Apercu Regular";
  font-size: 12px;
  padding: 3px;
  border-width: 1px;
  margin-left: 10px;
  margin-top: 4px;
}

.form-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
}

.left-age {
  margin-bottom: 15px;
}

.form-left, .form-right {
  width: 49%;
  display: inline-block;
}

.form-right {
  vertical-align: top;
}

.btn-ok {
  position: absolute;
  bottom: 30px;
  right: 40px;
  background-color: transparent;
  color: white;
  font-family: "Apercu Regular";
  border: 1px dotted white;
  padding: 7px;
  cursor: pointer;
  font-size: 12px;
}

.btn-ok:hover {
  opacity: 0.8;
}

.about-main-container {
  width: 100%;
  height: 110%;
  background-color: rgb(5,0,25);
  z-index: 1021;
  position: absolute;
  color: white;
  font-family: "Apercu Regular";
}

.about-inner-container {
  padding: 80px 80px 95px 80px;
  width: 88%;
  height: 74%;
}

.about-left, .about-right {
  display: inline-block;
  width: 49%;
}

.about-left {
  vertical-align: top;
}

.about-left p{
  padding: 0px 80px 0px 60px;
  font-size: 12px;
  line-height: 1.6;
  text-align: justify;
}

p.about-content-t {
  margin-top: 3px;
  font-family: "Apercu Bold";
  /*font-weight: bold;*/
  letter-spacing: 1;
  font-size: 14px;
  margin-bottom: 22px;
}

.about-title-container{
  width: 37%;
  margin-bottom: 35px;
  margin-left: 60px;
}

.about-title-container p {
  margin: 0;
  padding: 27px;
  background-color: #050096;
  font-size: 22px;
  letter-spacing: 5;
  text-align: center;
}

.about-title-container p b, .about-content-p b, .cover-title-b b {
  font-weight: normal;
  text-decoration: underline;
}

.about-right {
  font-size: 12px;
  margin-top: 12px;
  top: 89px;
  position: absolute;
}

.about-right span {
  margin-top: 12px;
  margin-bottom: 3px;
}

.about-textarea {
  margin-top: 5px;
  background-color: transparent;
  color: white;
  border: 1px dotted;
  font-size: 11px;
  font-family: "Apercu Regular";
}

.about-links {
  list-style: none;
}

.about-links li {
  margin-top: 5px;
}

.about-links li a {
  color: white;
}

input[type='radio'], input[type='checkbox'] {
  vertical-align: middle;
  margin-top: 3px;
  margin-bottom: 3px;
}

ul.credits-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.credits-list.small-list {
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}

.credits-item p {
  margin: 0;
  margin-bottom: 2px;
}

.credits-item {
  margin-bottom: 20px
}

.credits-item-t.right, .credits-item-c.right {
  padding-left: 0;
}

.credits-item-t {
  letter-spacing: 0.6;
  font-family: "Apercu Mono";
  font-size: 12px;
}

p.credits-item-c {
  font-family: "Apercu Regular";
  /*font-weight: bold;*/
  font-size: 12px;
  letter-spacing: 0.4;
}

#input-email {
  background-color: transparent;
  color: white;
  font-family: "Apercu Regular";
  font-size: 10px;
  padding: 3px;
  border-width: 1px;
  border-color: white;
  margin-right: 10px;
}

.btn-send {
  background-color: transparent;
  color: white;
  font-family: "Apercu Regular";
  border: 1px solid white;
  padding: 3px 7px;
  cursor: pointer;
  font-size: 10px;
}

.about-email {
  margin-bottom: 20px;
}

.about-flash, .about-wrong {
  display: inline-block;
  font-size: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  max-width: 50%;
  vertical-align: middle;
}

.about-wrong {
  margin-left: 5px;
}


/* Intro */
.brain-container {
  position: absolute;
  left: 40px;
  bottom: -65px;
}

.brain-container img {
  width: 350px;
}

.brain-absolute {
  position: absolute;
  bottom: 280px;
  left: 50px;
}

.brain-absolute img {
  width: 335px;
  position: absolute;
}

/*.img-brain-white, .img-brain-outline {
  z-index: 997;
}

.img-brain-color {
  z-index: 998;
}*/

#first-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 995;
}

.points-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -998;
  background-color: #040019;
}

.wave-inner-container {
  position:absolute;
  width:100%;
  height:100%;
  z-index:-9999;
}

.logo-uc {
  margin-top: 20px;
}

.logo-uc img {
  width: 35%;
  margin-left: -7px;
}

.about-info {
  width: 13px;
}

.about-form {
  width: 26px;
}

.over-content.info {
  z-index: 1022;
}

.info-container {
  width: 330px;
  color: white;
  font-size: 18px;
  border: 1px dashed white;
  font-family: "Apercu Light";
  background-color: rgba(4,0,25,0.8);
  line-height: 1.6;
}

.info-content {
  margin-bottom: 0px;
  padding: 39px 50px 30px 50px;
  margin-top: 0;
}

.info-close, .info-border {
  width: 28px;
  position: absolute;
  text-align: center;
  height: 28px;
  border: 1px dashed white;
  cursor: pointer;
  top: 0px;
}

.info-close {
  right: 0px;
}

.info-border {
  left: 0px;
}

.info-close span {
  font-size: 18px;
  line-height: 1.4;
}

#brain-svg {
  fill: rgba(4,0,25,0.8);
}

.point-elem {
  z-index: -999;
}

.main-cover-container#cover-4 {
  margin-top: 24%;
}

.main-cover-container#final-2 {
  margin-top: 20%;
}

.main-cover-container#cover-2 {
  max-width: 360px;
}

#arrow-inv {
  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);
}

.final-inline div, .final-inline img {
  display: inline-block;
}

.final-inline {
  width: 30%;
}

.final-inline img {
  width: 45px;
  vertical-align: middle;
}

.final-btn {
  width: 60px;
  border: 1px dotted white;
  background-color: rgba(4,0,25,0.8);
  cursor: pointer;
}

.final-btn p {
  margin: 0;
  font-size: 11px;
  padding: 5px 10px;
}

.btns-container.cover-msg {
  margin-top: 30px;
  padding-top: 10px;
}

#video-modal-close {
  position: absolute;
  top: 13px;
  right: 7px;
  width: 60px;
  cursor: pointer;
}

#about-panel-close {
  position: absolute;
  top: 32px;
  right: 15px;
  width: 60px;
  cursor: pointer;
}

.fullscreen-bg-video {
  width: 100%;
}

.skip-arrow p {
  font-size: 9px;
  color: white;
  font-family: "Apercu Mono";
  position: absolute;
  bottom: 35px;
  right: 50px;
  cursor: pointer;
  z-index: 999;
}

.skip-arrow p:hover {
  opacity: 0.7;
}

#cover-home {
  margin-top: 21%;
}

.cover-next-msg.final-btns {
  width: 265px;
}

.click-text-bottom {
  top: 20%;
  left: 89%;
  color: white;
  z-index: -999;
  max-width: 200px;
}

.click-text {
  font-size: 14px;
  font-family: "Apercu Mono";
  margin: 0px;
  text-align: right;
}

.click-text.p-click-text {
  font-size: 12px;
  margin-top: 20px;
}

.credits-support {
  margin-top: 33px;
  font-size: 12px;
  width: 88%;
}

.cross-container {
  padding: 10px 100px 30px;
}

.cross-img {
  width: 125px;
}

.over-content.tooltip#tt-q1 {
  padding-top: 19px;
  padding-bottom: 19px;
}

.over-content.tooltip#tt-q1 .tt-content {
  margin-bottom: 10px;
}

.about-credits {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.about-credits.links {
  width: 40%;
}

.credits-item.m-bot-45 {
  margin-bottom: 45px;
}

.logo-diseno {
  margin-right: 14%;
}

.about-content-p.about-content-p-final a {
  color: white;
}

.credits-item a {
  color: white;
  text-decoration: none;
}

.credits-item a:hover p {
  opacity: 0.8;
}

a.more-info-link {
  text-decoration: none;
}

a.more-info-link:hover {
  opacity: 0.8;
}

#final-1 {
  max-width: 550px;
}